@model IEnumerable<JRCar.BOL.Validation_Classes.ValidationUserAds>

@{
    ViewBag.Title = "Vehicles Ads";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="page-section">
    <div class="container">
        <div class="row">
            <aside class="section-sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="cs-listing-filters">
                    <div class="cs-search">
                        <form class="search-form">
                            <div class="loction-search">
                                <input type="text" placeholder="Select Location" />
                                <a href="#"><i class="icon-hair-cross cs-color"></i></a>
                            </div>
                            <div class="select-input">
                                <select data-placeholder="Select Make" tabindex="1" class="chosen-select">
                                    <option>Select make</option>
                                    <option>Select make</option>
                                    <option>Select make</option>
                                    <option>Select make</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="cs-select-model">
                        <div class="cs-filter-title"><h6>Select Model</h6></div>
                        <form>
                            <ul class="cs-checkbox-list mCustomScrollbar" data-mcs-theme="dark">
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox" type="checkbox" value="Speed">
                                        <label for="checkbox">5-Speed Automatic</label>
                                        <span>(34)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox1" type="checkbox" value="Speed">
                                        <label for="checkbox1">5-Speed Manual</label>
                                        <span>(12)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox2" type="checkbox" value="Speed">
                                        <label for="checkbox2">6-Speed Automatic</label>
                                        <span>(45)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox3" type="checkbox" value="Speed">
                                        <label for="checkbox3">6-Speed Manual</label>
                                        <span>(32)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox4" type="checkbox" value="Speed">
                                        <label for="checkbox4">6-Speed Semi-Auto</label>
                                        <span>(102)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox5" type="checkbox" value="Speed">
                                        <label for="checkbox5">7-Speed PDK</label>
                                        <span>(122)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox6" type="checkbox" value="Speed">
                                        <label for="checkbox6">8-Speed Automatic</label>
                                        <span>(34)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox7" type="checkbox" value="Speed">
                                        <label for="checkbox7">8-Speed Tiptronic</label>
                                        <span>(12)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox8" type="checkbox" value="Speed">
                                        <label for="checkbox8">5-Speed Automatic</label>
                                        <span>(34)</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox9" type="checkbox" value="Speed">
                                        <label for="checkbox9">5-Speed Automatic</label>
                                        <span>(34)</span>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Model year
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="cs-model-year">
                                        <div class="cs-select-filed">
                                            <select data-placeholder="Recent Added" class="chosen-select-no-single" tabindex="5">
                                                <option>2003</option>
                                                <option>2004</option>
                                                <option>2005</option>
                                                <option>2006</option>
                                            </select>
                                        </div>
                                        <span>to</span>
                                        <div class="cs-select-filed">
                                            <select data-placeholder="Recent Added" class="chosen-select-no-single" tabindex="5">
                                                <option>2006</option>
                                                <option>2005</option>
                                                <option>2004</option>
                                                <option>2003</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Body Style
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <div class="cs-carbody-style">
                                        <form>
                                            <ul class="cs-checkbox-list">
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox10" type="checkbox" value="Speed">
                                                        <label for="checkbox10">
                                                            <img src="~/Files/extra-images/car-select-img1.jpg" alt="" />
                                                            <span>Medium Cars</span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox11" type="checkbox" value="Speed">
                                                        <label for="checkbox11">
                                                            <img src="~/Files/extra-images/car-select-img2.jpg" alt="" />
                                                            <span>Large Cars</span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox12" type="checkbox" value="Speed">
                                                        <label for="checkbox12">
                                                            <img src="~/Files/extra-images/car-select-img3.jpg" alt="" />
                                                            <span>Sports Cars</span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox13" type="checkbox" value="Speed">
                                                        <label for="checkbox13">
                                                            <img src="~/Files/extra-images/car-select-img4.jpg" alt="" />
                                                            <span>People Movers</span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox14" type="checkbox" value="Speed">
                                                        <label for="checkbox14">
                                                            <img src="~/Files/extra-images/car-select-img5.jpg" alt="" />
                                                            <span>Covertibles</span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox15" type="checkbox" value="Speed">
                                                        <label for="checkbox15">
                                                            <img src="~/Files/extra-images/car-select-img6.jpg" alt="" />
                                                            <span>Luxury Cars</span>
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    PRICE RANGE
                                </a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <div class="cs-price-range">
                                        <form>
                                            <input id="price" type="text" class="span2" value="3000" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[600,200]" />
                                            <div class="selector-value">
                                                <span>$60,000</span>
                                                <span class="pull-right">$20,000</span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingfoure">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapsefoure" aria-expanded="false" aria-controls="collapsefoure">
                                    Transmission
                                </a>
                            </div>
                            <div id="collapsefoure" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfoure">
                                <div class="panel-body">
                                    <div class="cs-select-transmission">
                                        <form>
                                            <ul class="cs-checkbox-list">
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox16" type="checkbox" value="Speed">
                                                        <label for="checkbox16">5-Speed Automatic</label>
                                                        <span>(34)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox17" type="checkbox" value="Speed">
                                                        <label for="checkbox17">5-Speed Manual</label>
                                                        <span>(12)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox18" type="checkbox" value="Speed">
                                                        <label for="checkbox18">6-Speed Automatic</label>
                                                        <span>(45)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox19" type="checkbox" value="Speed">
                                                        <label for="checkbox19">6-Speed Manual</label>
                                                        <span>(32)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox20" type="checkbox" value="Speed">
                                                        <label for="checkbox20">6-Speed Semi-Auto</label>
                                                        <span>(102)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox21" type="checkbox" value="Speed">
                                                        <label for="checkbox21">7-Speed PDK</label>
                                                        <span>(122)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox22" type="checkbox" value="Speed">
                                                        <label for="checkbox22">8-Speed Automatic</label>
                                                        <span>(34)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox23" type="checkbox" value="Speed">
                                                        <label for="checkbox23">8-Speed Tiptronic</label>
                                                        <span>(12)</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingfive">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                    Transmission
                                </a>
                            </div>
                            <div id="collapsefive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfive">
                                <div class="panel-body">
                                    <div class="cs-select-transmission">
                                        <form>
                                            <ul class="cs-checkbox-list">
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox24" type="checkbox" value="Speed">
                                                        <label for="checkbox24">Brand New</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox25" type="checkbox" value="Speed">
                                                        <label for="checkbox25">Slightly Used</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox26" type="checkbox" value="Speed">
                                                        <label for="checkbox26">Used</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingsix">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                    Engine Capacity(cc)
                                </a>
                            </div>
                            <div id="collapsesix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingsix">
                                <div class="panel-body">
                                    <div class="cs-engine-capacity">
                                        <form>
                                            <input id="engine" type="text" class="span2" value="3000" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[600,200]" />
                                            <div class="selector-value">
                                                <span>800CC</span>
                                                <span class="pull-right">5500CC</span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="section-content col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="auto-sort-filter">
                            <div class="auto-show-resuilt"><span>SHOWING <em>25</em> RESULTS FOR YOUR SEARCH</span></div>
                            <div class="auto-list">
                                <span>Sort</span>
                                <ul>
                                    <li>
                                        <div class="cs-select-post">
                                            <select data-placeholder="Recent Added" class="chosen-select-no-single" tabindex="5">
                                                <option>Recent Added</option>
                                                <option>Recent Added</option>
                                                <option>Recent Added</option>
                                                <option>Recent Added</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li><a href="#"><i class=" icon-view_module"></i></a></li>
                                    <li><a href="#"><i class="icon-view_array"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="auto-your-search">
                            <ul class="filtration-tags">
                                <li><a href="#">Hybrid <i class="icon-cross2"></i></a></li>
                                <li><a href="#">Bmw<i class="icon-cross2"></i></a></li>
                                <li><a href="#">Compact hatchbac<i class="icon-cross2"></i></a></li>
                            </ul>
                            <a href="#" class="clear-tags cs-color">Clear Filters</a>
                        </div>
                    </div>
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="auto-listing">
                                <div class="cs-media auto-media-slider">
                                    @if (item.CarImage != null)
                                    {
                                        string path = Server.MapPath("" + item.CarImage + "");
                                        string[] FolderName = item.CarImage.Split('/');
                                        string[] imageFiles = Directory.GetFiles(path);
                                        List<string> images = new List<string>();
                                        foreach (var jha in imageFiles)
                                        {
                                            images.Add(FolderName[2] + "/" + Path.GetFileName(jha));
                                        }
                                        foreach (var AdImg in images)
                                        {
                                            <figure>
                                                <img src="~/uploads/@AdImg" alt="Ad Image" style="height: 200px !important;" />
                                                <figcaption>
                                                    <div class="cs-photo">@images.Count Photos</div>
                                                </figcaption>
                                            </figure>
                                        }
                                    }
                                </div>
                                <div class="auto-text">
                                    <div class="post-title">
                                        <h4><a href="#">@item.Title</a></h4>
                                        <h6><a href="#">@item.Title</a></h6>
                                        <div class="auto-price" style="margin-bottom:10px !important"><span class="cs-color">PKR @string.Format("{0:n0}",Convert.ToDecimal(item.Price))</span></div>
                                    </div>
                                    <p style="font-weight:600 !important">Location: @item.City</p>
                                    <ul class="auto-info-detail">
                                        <li>Year<span>@item.Year</span></li>
                                        <li>Model<span>@item.Model</span></li>
                                        <li>Condition<span>@item.Condition</span></li>
                                        <li>Posted On<span>@item.CreatedOn.ToString("ddd MMM yyyy")</span></li>
                                    </ul>
                                    @*<div class="btn-list">
                                            <a href="javascript:void(0)" class="btn btn-danger collapsed" data-toggle="collapse" data-target="#list-view"></a><div id="list-view" class="collapse">
                                                <ul>
                                                    <li>30/36 est. mpg 18</li>
                                                    <li>Black front grille with chrome accent</li>
                                                    <li>Cruise control</li>
                                                    <li>Remote keyless entry system</li>
                                                    <li>Tilt 3-spoke steering wheel with audio controls</li>
                                                    <li>15-in. alloy wheels</li>
                                                </ul>
                                            </div>
                                        </div>*@
                                    @*<div class="cs-checkbox">
                                            <input type="checkbox" name="list" value="check-listn" id="check-list">
                                            <label for="check-list">Compare</label>
                                        </div>*@
                                    <a href="#" class="short-list cs-color" style="margin-right: 14px !important;"><i class="icon-heart-o"></i>ShortList</a>
                                    <a href="@Url.Action("CarDetail","Website",new { AdID = item.AdURL })" class="View-btn" style="display:inline-block !important;">View Detail<i class=" icon-arrow-long-right"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-section" style="background:#19171a;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="cs-ad" style="text-align:center; padding:55px 0 32px;">
                    <div class="cs-media">
                        <figure>
                            <img src="~/Files/extra-images/cs-ad-img.jpg" alt="" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
