@using PagedList.Mvc
@model  PagedList.IPagedList<JRCar.BOL.Validation_Classes.ValidateShowroomAds>

@{
    ViewBag.Title = "Vehicles Ads";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
<style>
    #MakeRadio:hover {
        color: #d00000 !important;
        cursor: pointer !important;
    }

    #MakeRadio {
        list-style: none !important;
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding-bottom: 10px;
    }

    #collapsefive {
        overflow: auto;
        height: 155px;
    }

    #collapsefive::-webkit-scrollbar {
        width: 6px;
        height: 80px;
    }

    #collapsefive::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #e9e9e9;
    }

    #collapsefive::-webkit-scrollbar-thumb {
        background-color: #c6c6c6;
        border-radius: 10px;
    }

        #collapsefive::-webkit-scrollbar-thumb:hover {
            background: #D00000;
            border-radius: 10px;
        }
</style>
<div class="page-section">
    <div class="container">
        <div class="row">
            <aside class="section-sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="cs-listing-filters">
                    <div class="cs-search">
                        <form class="search-form">
                            <div class="loction-search">
                                <input type="text" placeholder="Select Location" />
                                <a href="#"><i class="icon-hair-cross cs-color"></i></a>
                            </div>
                            <div class="select-input">
                                <select data-placeholder="Select Make" tabindex="1" class="chosen-select">
                                    <option>Select make</option>
                                    <option>Select make</option>
                                    <option>Select make</option>
                                    <option>Select make</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="main-search" style="margin-bottom:15px !important;">
                        <div class="search-input">
                            <input type="text" placeholder="Search by Keyword" name="searchTerm" id="searchTerm_TxtBox">
                            <a href="#" onclick="FormVAds()">
                                <i class="icon-search2" style="left: 90% !important;">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingfive">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                SELECT State
                            </a>
                        </div>
                        <div id="collapsefive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfive">
                            <div class="panel-body">
                                <div class="cs-select-transmission">
                                    <form>
                                        <ul>
                                            @* If you need to fiter the Ads According to State, City and Area Uncomment this Line
                                                @foreach (var item in ViewBag.State)
                                                {
                                                    <li id="StateRadio">
                                                        <input type="radio" style="margin-top: 0px !important;" name="StateRR" id="R_@item.StateId" value="@item.StateId" />
                                                        <label for="R_@item.StateId" style="text-transform:uppercase;font-size:12px;font-weight:bold;line-height: 12px;margin-bottom: 0px;">@item.StateName</label>
                                                    </li>
                                                }
                                            *@
                                            @foreach (var item in ViewBag.Make)
                                            {
                                                <li id="MakeRadio">
                                                    <input type="radio" style="margin-top: 0px !important;" name="MakeRR" id="R_@item.Manufacturer_Id" value="@item.Manufacturer_Id" />
                                                    <label for="R_@item.Manufacturer_Id" style="text-transform:uppercase;font-size:12px;font-weight:bold;line-height: 12px;margin-bottom: 0px;">@item.Manufacturer_Name</label>
                                                </li>
                                            }
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cs-select-model">
                        <div class="cs-filter-title"><h6>Select Model</h6></div>
                        <div id="ModelList">

                        </div>
                    </div>
                    @*
                        If you need to fiter the Ads According to State, City and Area Uncomment this Line
                        <div class="cs-select-model">
                            <div class="cs-filter-title"><h6>Select City</h6></div>
                            <div id="CityList">
                            </div>
                        </div>
                        <div class="cs-select-model">
                            <div class="cs-filter-title"><h6>Select Zone</h6></div>
                            <div id="ZoneList">
                            </div>
                        </div>
                    *@
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Model year
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="cs-model-year">
                                        <div class="cs-select-filed">
                                            <select data-placeholder="Recent Added" class="chosen-select-no-single" tabindex="5">
                                                <option>2003</option>
                                                <option>2004</option>
                                                <option>2005</option>
                                                <option>2006</option>
                                            </select>
                                        </div>
                                        <span>to</span>
                                        <div class="cs-select-filed">
                                            <select data-placeholder="Recent Added" class="chosen-select-no-single" tabindex="5">
                                                <option>2006</option>
                                                <option>2005</option>
                                                <option>2004</option>
                                                <option>2003</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Body Style
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <div class="cs-carbody-style">
                                        <form>
                                            <ul class="cs-checkbox-list">
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox10" type="checkbox" value="Speed">
                                                        <label for="checkbox10">
                                                            <img src="~/Files/extra-images/car-select-img1.jpg" alt="" />
                                                            <span>Medium Cars</span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox11" type="checkbox" value="Speed">
                                                        <label for="checkbox11">
                                                            <img src="~/Files/extra-images/car-select-img2.jpg" alt="" />
                                                            <span>Large Cars</span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox12" type="checkbox" value="Speed">
                                                        <label for="checkbox12">
                                                            <img src="~/Files/extra-images/car-select-img3.jpg" alt="" />
                                                            <span>Sports Cars</span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox13" type="checkbox" value="Speed">
                                                        <label for="checkbox13">
                                                            <img src="~/Files/extra-images/car-select-img4.jpg" alt="" />
                                                            <span>People Movers</span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox14" type="checkbox" value="Speed">
                                                        <label for="checkbox14">
                                                            <img src="~/Files/extra-images/car-select-img5.jpg" alt="" />
                                                            <span>Covertibles</span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox15" type="checkbox" value="Speed">
                                                        <label for="checkbox15">
                                                            <img src="~/Files/extra-images/car-select-img6.jpg" alt="" />
                                                            <span>Luxury Cars</span>
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    PRICE RANGE
                                </a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <div class="cs-price-range">
                                        <form>
                                            <input id="price" type="text" class="span2" value="3000" data-slider-min="@ViewBag.MinimumPrice" data-slider-max="@ViewBag.MaximumPrice" data-slider-step="5" data-slider-value="[@ViewBag.MinimumPrice,@ViewBag.MaximumPrice]" />
                                            <div class="selector-value">
                                                <span>$@ViewBag.MinimumPrice</span>
                                                <span class="pull-right">$@ViewBag.MaximumPrice</span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingfoure">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapsefoure" aria-expanded="false" aria-controls="collapsefoure">
                                    Transmission
                                </a>
                            </div>
                            <div id="collapsefoure" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfoure">
                                <div class="panel-body">
                                    <div class="cs-select-transmission">
                                        <form>
                                            <ul class="cs-checkbox-list">
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox16" type="checkbox" value="Speed">
                                                        <label for="checkbox16">5-Speed Automatic</label>
                                                        <span>(34)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox17" type="checkbox" value="Speed">
                                                        <label for="checkbox17">5-Speed Manual</label>
                                                        <span>(12)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox18" type="checkbox" value="Speed">
                                                        <label for="checkbox18">6-Speed Automatic</label>
                                                        <span>(45)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox19" type="checkbox" value="Speed">
                                                        <label for="checkbox19">6-Speed Manual</label>
                                                        <span>(32)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox20" type="checkbox" value="Speed">
                                                        <label for="checkbox20">6-Speed Semi-Auto</label>
                                                        <span>(102)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox21" type="checkbox" value="Speed">
                                                        <label for="checkbox21">7-Speed PDK</label>
                                                        <span>(122)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox22" type="checkbox" value="Speed">
                                                        <label for="checkbox22">8-Speed Automatic</label>
                                                        <span>(34)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox23" type="checkbox" value="Speed">
                                                        <label for="checkbox23">8-Speed Tiptronic</label>
                                                        <span>(12)</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingfive">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                    Transmission
                                </a>
                            </div>
                            <div id="collapsefive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfive">
                                <div class="panel-body">
                                    <div class="cs-select-transmission">
                                        <form>
                                            <ul class="cs-checkbox-list">
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox24" type="checkbox" value="Speed">
                                                        <label for="checkbox24">Brand New</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox25" type="checkbox" value="Speed">
                                                        <label for="checkbox25">Slightly Used</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input id="checkbox26" type="checkbox" value="Speed">
                                                        <label for="checkbox26">Used</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingsix">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                        Engine Capacity(cc)
                                    </a>
                                </div>
                                <div id="collapsesix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingsix">
                                    <div class="panel-body">
                                        <div class="cs-engine-capacity">
                                            <form>
                                                <input id="engine" type="text" class="span2" value="3000" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[600,200]" />
                                                <div class="selector-value">
                                                    <span>800CC</span>
                                                    <span class="pull-right">5500CC</span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </aside>
            <div class="section-content col-lg-9 col-md-9 col-sm-12 col-xs-12" id="VehicleDiv">
                <div class="row" id="TableContainer">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="auto-sort-filter">
                            <div class="auto-show-resuilt"><span>SHOWING <em>25</em> RESULTS FOR YOUR SEARCH</span></div>
                            <div class="auto-list">
                                <span>Sort</span>
                                <ul>
                                    <li>
                                        <div class="cs-select-post" id="SortByVehicle">
                                            <select data-placeholder="Recent Added" class="chosen-select-no-single" tabindex="5">
                                                <option value="1">Newest</option>
                                                <option value="2">Price Low to High</option>
                                                <option value="3">Price High to Low</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li><a href="#"><i class=" icon-view_module"></i></a></li>
                                    <li><a href="#"><i class="icon-view_array"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="auto-your-search">
                            <ul class="filtration-tags">
                                <li><a href="#">Hybrid <i class="icon-cross2"></i></a></li>
                                <li><a href="#">Bmw<i class="icon-cross2"></i></a></li>
                                <li><a href="#">Compact hatchbac<i class="icon-cross2"></i></a></li>
                            </ul>
                            <a href="#" class="clear-tags cs-color">Clear Filters</a>
                        </div>
                    </div>
                    <div id="divLoader" style="display:none;">
                        <img src="~/Content/Spinner-1s-200px.gif" alt="Please Wait......" width="150" height="150" />
                    </div>
                    <div id="VehicleAdsLst">
                        @Html.Partial("_LoadAdsOn", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section" style="background:#19171a;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cs-ad" style="text-align:center; padding:55px 0 32px;">
                        <div class="cs-media">
                            <figure>
                                <img src="~/Files/extra-images/cs-ad-img.jpg" alt="" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function FormVAds() {
        var search = $('#searchTerm_TxtBox').val();

        //var ZoneNameListVal = null;
        //ZoneNameListVal = [];
        //var CityListVal = null;
        //CityListVal = [];
        //var state = $("input[name='StateRR']:checked").val();

        //$("input[name='CityListChkBox']:checked").each(function () {
        //    CityListVal.push($(this).attr('value'));
        //});

        //$("input[name='ZoneListChkBox']:checked").each(function () {
        //    ZoneNameListVal.push($(this).attr('value'));
        //});

        console.log(search);
        $("#divLoader").show();
        var priceRange = $("#price").val();
        console.log(priceRange);
        var myArr = priceRange.split`,`.map(x => +x);
        var minimum = myArr[0];
        var maximum = myArr[1];
        $.ajax({
            type: 'POST',
            url: "@Url.Action("GetAds", "Website")",
            data: JSON.stringify({ searchTerm: search, StateId: state, CityId: CityListVal, ZoneId: ZoneNameListVal, maximumPrice: maximum, minimumPrice: minimum }),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                //console.log(response);
                $("#divLoader").hide();
                $("#VehicleAdsLst").html(response);
            }
        });
    }

    $("input[name = 'MakeRR']").change(function () {
        var makeId = $(this).val();
        var SortBy = $("#SortByVehicle").find(':selected').val();
        var search = $('#searchTerm_TxtBox').val();
        var priceRange = $("#price").val();
        console.log(priceRange);
        var myArr = priceRange.split`,`.map(x => +x);
        var minimum = myArr[0];
        var maximum = myArr[1];
        console.log(makeId);
        $.ajax({
            type: "GET",
            url: "/Website/GetModelListCheckBox?MakeId=" + makeId,
            contentType: "html",
            success: function (response) {
                $("#ModelList").empty();
                $("#ModelList").html(response);
                if (response != null) {
                    console.log('Hey from CCRRR' + makeId);
                    $("#divLoader").show();
                    $.ajax({
                        type: "post",
                        url: "/Website/GetAds",
                        data: { MakeId: makeId, searchTerm: search, sortBy: SortBy, maximumPrice: maximum, minimumPrice: minimum },
                        datatype: "json",
                        traditional: true,
                        success: function (response) {
                            $("#divLoader").hide();
                            $("#VehicleAdsLst").html(response);
                        }
                    });
                }
            }
        })
    })

    /**
     * Uncomment this Script only if you need to fiter the Ads According to State, City and Area
    $("input[name = 'StateRR']").change(function () {
        var StatId = $(this).val();
        var SortBy = $("#SortByVehicle").find(':selected').val();
        var search = $('#searchTerm_TxtBox').val();
        var priceRange = $("#price").val();
        console.log(priceRange);
        var myArr = priceRange.split`,`.map(x => +x);
        var minimum = myArr[0];
        var maximum = myArr[1];
        console.log(StatId);
        $.ajax({
            type: "GET",
            url: "/Website/GetCityListCheckBox?StateId=" + StatId,
            contentType: "html",
            success: function (response) {
                $("#CityList").empty();
                $("#ZoneList").empty();
                $("#CityList").html(response);
                if (response != null) {
                    console.log('Hey from CCRRR' + StatId);
                    $("#divLoader").show();
                    $.ajax({
                        type: "post",
                        url: "/Website/GetAds",
                        data: { StateId: StatId, searchTerm: search, sortBy: SortBy, maximumPrice: maximum, minimumPrice: minimum },
                        datatype: "json",
                        traditional: true,
                        success: function (response) {
                            $("#divLoader").hide();
                            $("#VehicleAdsLst").html(response);
                        }
                    });
                }
            }
        })
    })
    **/
</script>