@using PagedList.Mvc
@model  PagedList.IPagedList<JRCar.BOL.Validation_Classes.ValidateShowroomAds>

@{
    ViewBag.Title = "Vehicles Ads";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<style>

    .wp-automobile .cs-listing-filters .main-search .search-input:before {
        content: "\ec4e";
        position: absolute;
        left: 16px;
        top: 11px;
        font-size: 14px;
        color: #ccc;
        font-family: "icomoon";
        z-index: 1;
        color: #d00000 !important;
    }

    .MakeRadio:hover, .ConditionRadio:hover, .ColorRadio:hover {
        color: #d00000 !important;
        cursor: pointer !important;
    }

    #headingNine a, #headingTen a, #headingGG a {
        font: 700 Normal 12px/20px "Raleway", sans-serif !important;
        letter-spacing: 0px !important;
    }

    .MakeRadio, .ConditionRadio, .ColorRadio {
        list-style: none !important;
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding-bottom: 10px;
    }

    #collapseNine, #collapseTen, #collapseGG {
        overflow: auto;
        max-height: 155px;
    }

        #collapseNine::-webkit-scrollbar, #collapseTen::-webkit-scrollbar, #collapseGG::-webkit-scrollbar {
            width: 6px;
            height: 80px;
        }

        #collapseNine::-webkit-scrollbar-track, #collapseTen::-webkit-scrollbar-track, #collapseGG::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: #e9e9e9;
        }

        #collapseNine::-webkit-scrollbar-thumb, #collapseTen::-webkit-scrollbar-thumb, #collapseGG::-webkit-scrollbar-thumb {
            background-color: #c6c6c6;
            border-radius: 10px;
        }

            #collapseNine::-webkit-scrollbar-thumb:hover, #collapseTen::-webkit-scrollbar-thumb:hover, #collapseGG::-webkit-scrollbar-thumb:hover {
                background: #D00000;
                border-radius: 10px;
            }
</style>
<div class="page-section">
    <div class="container">
        <div class="row">
            <aside class="section-sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="cs-listing-filters">
                    <div class="main-search" style="margin-bottom:15px !important;">
                        <div class="search-input">
                            <input type="text" placeholder="Search by Keyword" name="searchTerm" id="searchTerm_TxtBox">
                            <a href="#" onclick="FormVAds()">
                                <i class="icon-search2" style="left: 90% !important;">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                SELECT MAKE
                            </a>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <div class="cs-select-transmission">
                                    <form>
                                        <ul>
                                            @* If you need to fiter the Ads According to State, City and Area Uncomment this Line
                                                @foreach (var item in ViewBag.State)
                                                {
                                                    <li id="StateRadio">
                                                        <input type="radio" style="margin-top: 0px !important;" name="StateRR" id="R_@item.StateId" value="@item.StateId" />
                                                        <label for="R_@item.StateId" style="text-transform:uppercase;font-size:12px;font-weight:bold;line-height: 12px;margin-bottom: 0px;">@item.StateName</label>
                                                    </li>
                                                }
                                            *@
                                            @foreach (var item in ViewBag.Make)
                                            {
                                                <li class="MakeRadio">
                                                    <input type="radio" style="margin-top: 0px !important;" name="MakeRR" id="R_@item.Manufacturer_Id" value="@item.Manufacturer_Id" />
                                                    <label for="R_@item.Manufacturer_Id" style="text-transform:uppercase;font-size:12px;font-weight:bold;line-height: 12px;margin-bottom: 0px;">@item.Manufacturer_Name</label>
                                                </li>
                                            }
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" id="ModelCheckLst">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                SELECT MODEL
                            </a>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                                <div class="cs-select-transmission">
                                    <form>
                                        <ul id="ModelList" class="cs-checkbox-list mCustomScrollbar" data-mcs-theme="dark" style="overflow: auto;"></ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*
                        If you need to fiter the Ads According to State, City and Area Uncomment this Line
                        <div class="cs-select-model">
                            <div class="cs-filter-title"><h6>Select City</h6></div>
                            <div id="CityList">
                            </div>
                        </div>
                        <div class="cs-select-model">
                            <div class="cs-filter-title"><h6>Select Zone</h6></div>
                            <div id="ZoneList">
                            </div>
                        </div>
                    *@
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingsix">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                SELECT CONDITION
                            </a>
                        </div>
                        <div id="collapsesix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingsix">
                            <div class="panel-body">
                                <div class="cs-select-transmission">
                                    <form>
                                        <ul>
                                            <li class="ConditionRadio">
                                                <input type="radio" style="margin-top: 0px !important;" name="ConditionRR" id="R_1" value="1" />
                                                <label for="R_1" style="text-transform:uppercase;font-size:12px;font-weight:bold;line-height: 12px;margin-bottom: 0px;">Used</label>
                                            </li>
                                            <li class="ConditionRadio">
                                                <input type="radio" style="margin-top: 0px !important;" name="ConditionRR" id="R_2" value="2" />
                                                <label for="R_2" style="text-transform:uppercase;font-size:12px;font-weight:bold;line-height: 12px;margin-bottom: 0px;">New</label>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Model year
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="cs-model-year">
                                        <div class="cs-select-filed">
                                            <select data-placeholder="Recent Added" class="chosen-select-no-single" id="StartYear" tabindex="5">
                                                @foreach (var item in ViewBag.CARYears)
                                                {
                                                    <option>@item</option>
                                                }
                                            </select>
                                        </div>
                                        <span>to</span>
                                        <div class="cs-select-filed">
                                            <select data-placeholder="Recent Added" class="chosen-select-no-single" id="EndYear" tabindex="5">
                                                @foreach (var item in ViewBag.CARYears)
                                                {
                                                    var todayyear = DateTime.Now.Year;
                                                    if (true)
                                                    {
                                                        <option selected="selected">@item</option>
                                                    }
                                                    else
                                                    {
                                                        <option>@item</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    PRICE RANGE
                                </a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <div class="cs-price-range">
                                        <form>
                                            <input id="price" type="text" class="span2" value="3000" data-slider-min="@ViewBag.MinimumPrice" data-slider-max="@ViewBag.MaximumPrice" data-slider-step="5" data-slider-value="[@ViewBag.MinimumPrice,@ViewBag.MaximumPrice]" />
                                            <div class="selector-value">
                                                <span>Rs @ViewBag.MinimumPrice</span>
                                                <span class="pull-right">Rs @ViewBag.MaximumPrice</span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingGG">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseGG" aria-expanded="false" aria-controls="collapseGG">
                                    SELECT COLOR
                                </a>
                            </div>
                            <div id="collapseGG" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingGG">
                                <div class="panel-body">
                                    <div class="cs-select-transmission">
                                        <form>
                                            <ul class="cs-checkbox-list mCustomScrollbar" data-mcs-theme="dark" style="overflow: auto;">
                                                @foreach (var item in ViewBag.CarColors)
                                                {
                                                    <li style="padding: 0px !important;">
                                                        <input type="checkbox" id="ColorListChkBox_@item.Value" name="ColorListChkBox" value="@item.Value" class="chkColorclass" style="margin: 0 !important;" />
                                                        <label for="ColorListChkBox_@item.Value" id="LblColorListChkBox_@item.Value" style="margin: 0 !important; font-size: 12px !important; padding-left: 20px;">@item.Text</label>
                                                    </li>
                                                }
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingfoure">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapsefoure" aria-expanded="false" aria-controls="collapsefoure">
                                    Transmission
                                </a>
                            </div>
                            <div id="collapsefoure" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfoure">
                                <div class="panel-body">
                                    <div class="cs-select-transmission">
                                        <form>
                                            <ul class="cs-checkbox-list mCustomScrollbar" data-mcs-theme="dark" style="overflow: auto;">
                                                @foreach (var item in ViewBag.Trans)
                                                {
                                                    <li style="padding: 0px !important;">
                                                        <input type="checkbox" id="TransListChkBox_@item.Value" name="TransListChkBox" value="@item.Value" class="chkTransclass" style="margin: 0 !important;" />
                                                        <label for="TransListChkBox_@item.Value" id="LblTransListChkBox_@item.Value" style="margin: 0 !important; font-size: 12px !important; padding-left: 20px;">@item.Text</label>
                                                    </li>
                                                }
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingsix">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                            Engine Capacity(cc)
                                        </a>
                                    </div>
                                    <div id="collapsesix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingsix">
                                        <div class="panel-body">
                                            <div class="cs-engine-capacity">
                                                <form>
                                                    <input id="engine" type="text" class="span2" value="3000" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[600,200]" />
                                                    <div class="selector-value">
                                                        <span>800CC</span>
                                                        <span class="pull-right">5500CC</span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                            </div>*@
                    </div>
                </div>
            </aside>
            <div class="section-content col-lg-9 col-md-9 col-sm-12 col-xs-12" id="VehicleDiv">
                <div class="row" id="TableContainer">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="auto-sort-filter">
                            <div class="auto-show-resuilt"><span>SHOWING <em>25</em> RESULTS FOR YOUR SEARCH</span></div>
                            <div class="auto-list">
                                <span>Sort</span>
                                <ul>
                                    <li>
                                        <div class="cs-select-post" id="SortByVehicle">
                                            <select data-placeholder="Recent Added" class="chosen-select-no-single" tabindex="5">
                                                <option value="1">Newest</option>
                                                <option value="2">Price Low to High</option>
                                                <option value="3">Price High to Low</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li><a href="#"><i class=" icon-view_module"></i></a></li>
                                    <li><a href="#"><i class="icon-view_array"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="auto-your-search">
                            <ul class="filtration-tags">
                                <li><a href="#">Hybrid <i class="icon-cross2"></i></a></li>
                                <li><a href="#">Bmw<i class="icon-cross2"></i></a></li>
                                <li><a href="#">Compact hatchbac<i class="icon-cross2"></i></a></li>
                            </ul>
                            <a href="#" class="clear-tags cs-color">Clear Filters</a>
                        </div>
                    </div>
                    <div id="divLoader" style="display:none;">
                        <img src="~/Content/Spinner-1s-200px.gif" alt="Please Wait......" width="150" height="150" />
                    </div>
                    <div id="VehicleAdsLst">
                        @Html.Partial("_LoadAdsOn", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section" style="background:#19171a;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cs-ad" style="text-align:center; padding:55px 0 32px;">
                        <div class="cs-media">
                            <figure>
                                <img src="~/Files/extra-images/cs-ad-img.jpg" alt="" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#ModelCheckLst").hide();

    $(document).on("click", "#ContentPager a[href]", function () {
        $("#divLoader").show();
        var priceRange = $("#price").val();
        console.log(priceRange);
        var myArr = priceRange.split`,`.map(x => +x);
        var minimum = myArr[0];
        var maximum = myArr[1];
        var pageno = $(this).text();
        console.log("Page No:" + pageno);
        var SortBy = $("#SortByVehicle").find(':selected').val();
        console.log("SortBY Val from pager:" + SortBy);
        var search = $('#searchTerm_TxtBox').val();
        var startYear = $("#StartYear").find(':selected').val();
        var endYear = $("#EndYear").find(':selected').val();
        /*
         * Uncomment this lines only if you need to filter the Ads According to State, City and Area
        var ZoneNameListVal = null;
        ZoneNameListVal = [];
        var CityListVal = null;
        CityListVal = [];
        var state = $("input[name='StateRR']:checked").val();

        $("input[name='CityListChkBox']:checked").each(function () {
            CityListVal.push($(this).attr('value'));
        });

        $("input[name='ZoneListChkBox']:checked").each(function () {
            ZoneNameListVal.push($(this).attr('value'));
        });
        */

        var makeId = $("input[name = 'MakeRR']:checked").val();
        var ModelNameListVal = null;
        ModelNameListVal = [];

        $("input[name='ModelListChkBox']:checked").each(function () {
            ModelNameListVal.push($(this).attr('value'));
        });
        var condi = $("input[name = 'ConditionRR']:checked").val();
        var maxYear = (endYear >= startYear) ? endYear : startYear;
        var miniYear = (endYear <= startYear) ? endYear : startYear;
        var ColorNameListVal = null;
        ColorNameListVal = [];

        $("input[name='ColorListChkBox']:checked").each(function () {
            ColorNameListVal.push($(this).attr('value'));
        });
        var TransNameListVal = null;
        TransNameListVal = [];

        $("input[name='TransListChkBox']:checked").each(function () {
            TransNameListVal.push($(this).attr('value'));
        });

        console.log(search);
        console.log("Attr: " + $(this).attr("href"));
        $.ajax({
            url: $(this).attr("href"),
            type: 'POST',
            data: JSON.stringify({ sortBy: SortBy, page: pageno, searchTerm: search, MakeId: makeId, ModelId: ModelNameListVal, maximumPrice: maximum, minimumPrice: minimum, Condition: condi, StartYear: miniYear, EndYear: maxYear, ColorSelected: ColorNameListVal, TransSelected: TransNameListVal }),
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                $("#divLoader").hide();
                $("#VehicleAdsLst").html(resp);
            }
        });
        return false;
    });

    function FormVAds() {
        var search = $('#searchTerm_TxtBox').val();

        /*
         * Uncomment this lines only if you need to filter the Ads According to State, City and Area
        var ZoneNameListVal = null;
        ZoneNameListVal = [];
        var CityListVal = null;
        CityListVal = [];
        var state = $("input[name='StateRR']:checked").val();

        $("input[name='CityListChkBox']:checked").each(function () {
            CityListVal.push($(this).attr('value'));
        });

        $("input[name='ZoneListChkBox']:checked").each(function () {
            ZoneNameListVal.push($(this).attr('value'));
        });
        */

        var makeId = $("input[name = 'MakeRR']:checked").val();
        var ColorNameListVal = null;
        ColorNameListVal = [];

        $("input[name='ColorListChkBox']:checked").each(function () {
            ColorNameListVal.push($(this).attr('value'));
        });

        var ModelNameListVal = null;
        ModelNameListVal = [];

        $("input[name='ModelListChkBox']:checked").each(function () {
            ModelNameListVal.push($(this).attr('value'));
        });
        var startYear = $("#StartYear").find(':selected').val();
        var endYear = $("#EndYear").find(':selected').val();
        var condi = $("input[name = 'ConditionRR']:checked").val();
        var SortBy = $("#SortByVehicle").find(':selected').val();
        console.log(search);
        $("#divLoader").show();
        var priceRange = $("#price").val();
        console.log(priceRange);
        var myArr = priceRange.split`,`.map(x => +x);
        var minimum = myArr[0];
        var maximum = myArr[1];
        var maxYear = (endYear >= startYear) ? endYear : startYear;
        var miniYear = (endYear <= startYear) ? endYear : startYear;
        var TransNameListVal = null;
        TransNameListVal = [];

        $("input[name='TransListChkBox']:checked").each(function () {
            TransNameListVal.push($(this).attr('value'));
        });

        $.ajax({
            type: 'POST',
            url: "@Url.Action("GetAds", "Website")",
            data: JSON.stringify({ searchTerm: search, MakeId: makeId, ModelId: ModelNameListVal, maximumPrice: maximum, minimumPrice: minimum, sortBy: SortBy, Condition: condi, StartYear: miniYear, EndYear: maxYear, ColorSelected: ColorNameListVal, TransSelected: TransNameListVal }),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                //console.log(response);
                $("#divLoader").hide();
                $("#VehicleAdsLst").html(response);
            }
        });
    }

    $("#StartYear, #EndYear").change(function () {
        var makeId = $("input[name = 'MakeRR']:checked").val();
        var SortBy = $("#SortByVehicle").find(':selected').val();
        var search = $('#searchTerm_TxtBox').val();
        var priceRange = $("#price").val();
        var myArr = priceRange.split`,`.map(x => +x);
        var minimum = myArr[0];
        var maximum = myArr[1];
        var condi = $("input[name = 'ConditionRR']:checked").val();
        var startYear = $("#StartYear").find(':selected').val();
        var endYear = $("#EndYear").find(':selected').val();
        var ModelNameListVal = null;
        ModelNameListVal = [];
        var maxYear = (endYear >= startYear) ? endYear : startYear;
        var miniYear = (endYear <= startYear) ? endYear : startYear;
        var ColorNameListVal = null;
        ColorNameListVal = [];

        $("input[name='ColorListChkBox']:checked").each(function () {
            ColorNameListVal.push($(this).attr('value'));
        });

        $("input[name='ModelListChkBox']:checked").each(function () {
            ModelNameListVal.push($(this).attr('value'));
        });
        var TransNameListVal = null;
        TransNameListVal = [];

        $("input[name='TransListChkBox']:checked").each(function () {
            TransNameListVal.push($(this).attr('value'));
        });

        $("#divLoader").show();
        $.ajax({
            type: "post",
            url: "/Website/GetAds",
            data: { MakeId: makeId, ModelId: ModelNameListVal, searchTerm: search, sortBy: SortBy, maximumPrice: maximum, minimumPrice: minimum, Condition: condi, StartYear: miniYear, EndYear: maxYear, ColorSelected: ColorNameListVal, TransSelected: TransNameListVal },
            datatype: "json",
            traditional: true,
            success: function (response) {
                $("#divLoader").hide();
                $("#VehicleAdsLst").html(response);
            }
        });
    })

    $("input[name = 'MakeRR']").change(function () {
        var makeId = $(this).val();
        var SortBy = $("#SortByVehicle").find(':selected').val();
        var search = $('#searchTerm_TxtBox').val();
        var priceRange = $("#price").val();
        console.log(priceRange);
        var myArr = priceRange.split`,`.map(x => +x);
        var minimum = myArr[0];
        var maximum = myArr[1];
        var condi = $("input[name = 'ConditionRR']:checked").val();
        var startYear = $("#StartYear").find(':selected').val();
        var endYear = $("#EndYear").find(':selected').val();
        var maxYear = (endYear >= startYear) ? endYear : startYear;
        var miniYear = (endYear <= startYear) ? endYear : startYear;
        var ColorNameListVal = null;
        ColorNameListVal = [];

        $("input[name='ColorListChkBox']:checked").each(function () {
            ColorNameListVal.push($(this).attr('value'));
        });
        var TransNameListVal = null;
        TransNameListVal = [];

        $("input[name='TransListChkBox']:checked").each(function () {
            TransNameListVal.push($(this).attr('value'));
        });

        console.log(makeId);
        $.ajax({
            type: "GET",
            url: "/Website/GetModelListCheckBox?MakeId=" + makeId,
            contentType: "html",
            success: function (response) {
                $("#ModelList").empty();
                $("#ModelList").html(response);
                if (response != null) {
                    console.log('Hey from CCRRR' + makeId);
                    $("#divLoader").show();
                    $.ajax({
                        type: "post",
                        url: "/Website/GetAds",
                        data: { MakeId: makeId, searchTerm: search, sortBy: SortBy, maximumPrice: maximum, minimumPrice: minimum, Condition: condi, StartYear: miniYear, EndYear: maxYear, ColorSelected: ColorNameListVal, TransSelected: TransNameListVal },
                        datatype: "json",
                        traditional: true,
                        success: function (response) {
                            $("#divLoader").hide();
                            $("#VehicleAdsLst").html(response);
                            $("#ModelCheckLst").show();
                        }
                    });
                }
            }
        })
    })

    $("input[name = 'ConditionRR']").change(function () {
        var condi = $(this).val();
        var SortBy = $("#SortByVehicle").find(':selected').val();
        var search = $('#searchTerm_TxtBox').val();
        var priceRange = $("#price").val();
        var myArr = priceRange.split`,`.map(x => +x);
        var minimum = myArr[0];
        var maximum = myArr[1];
        var startYear = $("#StartYear").find(':selected').val();
        var endYear = $("#EndYear").find(':selected').val();
        var makeId = $("input[name = 'MakeRR']:checked").val();
        var ModelNameListVal = null;
        ModelNameListVal = [];

        $("input[name='ModelListChkBox']:checked").each(function () {
            ModelNameListVal.push($(this).attr('value'));
        });
        var maxYear = (endYear >= startYear) ? endYear : startYear;
        var miniYear = (endYear <= startYear) ? endYear : startYear;
        var ColorNameListVal = null;
        ColorNameListVal = [];

        $("input[name='ColorListChkBox']:checked").each(function () {
            ColorNameListVal.push($(this).attr('value'));
        });
        var TransNameListVal = null;
        TransNameListVal = [];

        $("input[name='TransListChkBox']:checked").each(function () {
            TransNameListVal.push($(this).attr('value'));
        });

        $("#divLoader").show();
        $.ajax({
            type: "post",
            url: "/Website/GetAds",
            data: { searchTerm: search, MakeId: makeId, ModelId: ModelNameListVal, maximumPrice: maximum, minimumPrice: minimum, Condition: condi, sortBy: SortBy, StartYear: miniYear, EndYear: maxYear, ColorSelected: ColorNameListVal, TransSelected: TransNameListVal },
            datatype: "json",
            traditional: true,
            success: function (response) {
                $("#divLoader").hide();
                $("#VehicleAdsLst").html(response);
            }
        });
    })

    //$("input[name = 'ColorRR']").change(function () {
    //    var Color = $(this).val();
    //    var condi = $("input[name = 'ConditionRR']:checked").val();
    //    var SortBy = $("#SortByVehicle").find(':selected').val();
    //    var search = $('#searchTerm_TxtBox').val();
    //    var priceRange = $("#price").val();
    //    var myArr = priceRange.split`,`.map(x => +x);
    //    var minimum = myArr[0];
    //    var maximum = myArr[1];
    //    var startYear = $("#StartYear").find(':selected').val();
    //    var endYear = $("#EndYear").find(':selected').val();
    //    var makeId = $("input[name = 'MakeRR']:checked").val();
    //    var ModelNameListVal = null;
    //    ModelNameListVal = [];

    //    $("input[name='ModelListChkBox']:checked").each(function () {
    //        ModelNameListVal.push($(this).attr('value'));
    //    });
    //    var maxYear = (endYear >= startYear) ? endYear : startYear;
    //    var miniYear = (endYear <= startYear) ? endYear : startYear;

    //    $("#divLoader").show();
    //    $.ajax({
    //        type: "post",
    //        url: "/Website/GetAds",
    //        data: { searchTerm: search, MakeId: makeId, ModelId: ModelNameListVal, maximumPrice: maximum, minimumPrice: minimum, Condition: condi, sortBy: SortBy, StartYear: miniYear, EndYear: maxYear, ColorSelected: ColorNameListVal },
    //        datatype: "json",
    //        traditional: true,
    //        success: function (response) {
    //            $("#divLoader").hide();
    //            $("#VehicleAdsLst").html(response);
    //        }
    //    });
    //})

    $('.chkColorclass').click(function () {
        PostColor();
    });

    function PostColor() {
        var ColorNameListVal = null;
        ColorNameListVal = [];

        $("input[name='ColorListChkBox']:checked").each(function () {
            ColorNameListVal.push($(this).attr('value'));
        });
        if (ColorNameListVal.length > 0) {
            var condi = $("input[name = 'ConditionRR']:checked").val();
            var ModelNameListVal = null;
            ModelNameListVal = [];

            $("input[name='ModelListChkBox']:checked").each(function () {
                ModelNameListVal.push($(this).attr('value'));
            });
            $("#divLoader").show();
            var SortBy = $("#SortByVehicle").find(':selected').val();
            var search = $('#searchTerm_TxtBox').val();
            var priceRange = $("#price").val();
            var makeId = $("input[name = 'MakeRR']:checked").val();
            console.log(priceRange);
            var myArr = priceRange.split`,`.map(x => +x);
            var minimum = myArr[0];
            var maximum = myArr[1];
            var startYear = $("#StartYear").find(':selected').val();
            var endYear = $("#EndYear").find(':selected').val();
            var maxYear = (endYear >= startYear) ? endYear : startYear;
            var miniYear = (endYear <= startYear) ? endYear : startYear;
            var TransNameListVal = null;
            TransNameListVal = [];

            $("input[name='TransListChkBox']:checked").each(function () {
                TransNameListVal.push($(this).attr('value'));
            });

            $.ajax({
                type: "post",
                url: "/Website/GetAds",
                data: { searchTerm: search, sortBy: SortBy, MakeId: makeId, ModelId: ModelNameListVal, maximumPrice: maximum, minimumPrice: minimum, Condition: condi, StartYear: miniYear, EndYear: maxYear, ColorSelected: ColorNameListVal, TransSelected: TransNameListVal },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#divLoader").hide();
                    $("#VehicleAdsLst").html(data);
                }
            });
        }
        else {
            var makeId = $("input[name = 'MakeRR']:checked").val();
            $("#divLoader").show();
            var SortBy = $("#SortByVehicle").find(':selected').val();
            var search = $('#searchTerm_TxtBox').val();
            var priceRange = $("#price").val();
            console.log(priceRange);
            var myArr = priceRange.split`,`.map(x => +x);
            var minimum = myArr[0];
            var maximum = myArr[1];
            var condi = $("input[name = 'ConditionRR']:checked").val();
            var startYear = $("#StartYear").find(':selected').val();
            var endYear = $("#EndYear").find(':selected').val();
            var maxYear = (endYear >= startYear) ? endYear : startYear;
            var miniYear = (endYear <= startYear) ? endYear : startYear;
            var ModelNameListVal = null;
            ModelNameListVal = [];

            $("input[name='ModelListChkBox']:checked").each(function () {
                ModelNameListVal.push($(this).attr('value'));
            });
            var TransNameListVal = null;
            TransNameListVal = [];

            $("input[name='TransListChkBox']:checked").each(function () {
                TransNameListVal.push($(this).attr('value'));
            });

            $.ajax({
                type: "post",
                url: "/Website/GetAds",
                data: { searchTerm: search, sortBy: SortBy, MakeId: makeId, ModelId: ModelNameListVal, maximumPrice: maximum, minimumPrice: minimum, Condition: condi, StartYear: miniYear, EndYear: maxYear, TransSelected: TransNameListVal },
                datatype: "json",
                traditional: true,
                success: function (response) {
                    $("#divLoader").hide();
                    $("#VehicleAdsLst").html(response);
                }
            });
        }
    }

    $('.chkTransclass').click(function () {
        PostTrans();
    });

    function PostTrans() {
        var TransNameListVal = null;
        TransNameListVal = [];

        $("input[name='TransListChkBox']:checked").each(function () {
            TransNameListVal.push($(this).attr('value'));
        });

        if (TransNameListVal.length > 0) {
            var condi = $("input[name = 'ConditionRR']:checked").val();
            var ColorNameListVal = null;
            ColorNameListVal = [];

            $("input[name='ColorListChkBox']:checked").each(function () {
                ColorNameListVal.push($(this).attr('value'));
            });
            var ModelNameListVal = null;
            ModelNameListVal = [];

            $("input[name='ModelListChkBox']:checked").each(function () {
                ModelNameListVal.push($(this).attr('value'));
            });
            $("#divLoader").show();
            var SortBy = $("#SortByVehicle").find(':selected').val();
            var search = $('#searchTerm_TxtBox').val();
            var priceRange = $("#price").val();
            var makeId = $("input[name = 'MakeRR']:checked").val();
            console.log(priceRange);
            var myArr = priceRange.split`,`.map(x => +x);
            var minimum = myArr[0];
            var maximum = myArr[1];
            var startYear = $("#StartYear").find(':selected').val();
            var endYear = $("#EndYear").find(':selected').val();
            var maxYear = (endYear >= startYear) ? endYear : startYear;
            var miniYear = (endYear <= startYear) ? endYear : startYear;

            $.ajax({
                type: "post",
                url: "/Website/GetAds",
                data: { searchTerm: search, sortBy: SortBy, MakeId: makeId, ModelId: ModelNameListVal, maximumPrice: maximum, minimumPrice: minimum, Condition: condi, StartYear: miniYear, EndYear: maxYear, ColorSelected: ColorNameListVal, TransSelected: TransNameListVal },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#divLoader").hide();
                    $("#VehicleAdsLst").html(data);
                }
            });
        }
        else {
            var makeId = $("input[name = 'MakeRR']:checked").val();
            $("#divLoader").show();
            var SortBy = $("#SortByVehicle").find(':selected').val();
            var search = $('#searchTerm_TxtBox').val();
            var priceRange = $("#price").val();
            console.log(priceRange);
            var myArr = priceRange.split`,`.map(x => +x);
            var minimum = myArr[0];
            var maximum = myArr[1];
            var condi = $("input[name = 'ConditionRR']:checked").val();
            var startYear = $("#StartYear").find(':selected').val();
            var endYear = $("#EndYear").find(':selected').val();
            var maxYear = (endYear >= startYear) ? endYear : startYear;
            var miniYear = (endYear <= startYear) ? endYear : startYear;
            var ModelNameListVal = null;
            ModelNameListVal = [];

            $("input[name='ModelListChkBox']:checked").each(function () {
                ModelNameListVal.push($(this).attr('value'));
            });
            var ColorNameListVal = null;
            ColorNameListVal = [];

            $("input[name='ColorListChkBox']:checked").each(function () {
                ColorNameListVal.push($(this).attr('value'));
            });

            $.ajax({
                type: "post",
                url: "/Website/GetAds",
                data: { searchTerm: search, sortBy: SortBy, MakeId: makeId, ModelId: ModelNameListVal, maximumPrice: maximum, minimumPrice: minimum, Condition: condi, StartYear: miniYear, EndYear: maxYear, ColorSelected: ColorNameListVal },
                datatype: "json",
                traditional: true,
                success: function (response) {
                    $("#divLoader").hide();
                    $("#VehicleAdsLst").html(response);
                }
            });
        }
    }

    /**
     * Uncomment this Script only if you need to filter the Ads According to State, City and Area
    $("input[name = 'StateRR']").change(function () {
        var StatId = $(this).val();
        var SortBy = $("#SortByVehicle").find(':selected').val();
        var search = $('#searchTerm_TxtBox').val();
        var priceRange = $("#price").val();
        console.log(priceRange);
        var myArr = priceRange.split`,`.map(x => +x);
        var minimum = myArr[0];
        var maximum = myArr[1];
        console.log(StatId);
        $.ajax({
            type: "GET",
            url: "/Website/GetCityListCheckBox?StateId=" + StatId,
            contentType: "html",
            success: function (response) {
                $("#CityList").empty();
                $("#ZoneList").empty();
                $("#CityList").html(response);
                if (response != null) {
                    console.log('Hey from CCRRR' + StatId);
                    $("#divLoader").show();
                    $.ajax({
                        type: "post",
                        url: "/Website/GetAds",
                        data: { StateId: StatId, searchTerm: search, sortBy: SortBy, maximumPrice: maximum, minimumPrice: minimum },
                        datatype: "json",
                        traditional: true,
                        success: function (response) {
                            $("#divLoader").hide();
                            $("#VehicleAdsLst").html(response);
                        }
                    });
                }
            }
        })
    })
    **/
</script>