@model JRCar.BOL.Validation_Classes.ValidateUser

@{
    ViewBag.Title = "ProfileSettings";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<style>
    .text-danger {
        color: #dc3545 !important;
        font-size: 16px !important;
    }

    #dynamicImage {
        background: none !important;
        border: none !important;
        border-radius: 0px !important;
    }
</style>

@if (User.Identity.IsAuthenticated)
{
    <div class="page-section"
         style="background:url(../../Files/extra-images/user-bg-img.jpg) no-repeat;background-size:cover;min-height:175px;margin-top:-30px;margin-bottom:-129px;">
    </div>
    <div class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cs-user-account-holder">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <ul class="cs-user-accounts-list">
                                    <li><a href="@Url.Action("Myvehicles","Website")">My vehicles</a></li>
                                    <li><a href="@Url.Action("Shortlisted","Website")">Shortlisted</a></li>
                                    <li class="active">
                                        <a href="@Url.Action("ProfileSettings","Website")">Profile Settings</a>
                                    </li>
                                    <li><a href="@Url.Action("PostNewVehicles","Website")">Post a vehicles</a></li>
                                    <li><a href="@Url.Action("Logout", "Account")">Sign Out</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="cs-user-section-title">
                                    @if (TempData["SuccessMsg"] != null)
                                    {
                                        <div class="alert alert-info alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <i class="icon-info-with-circle"></i><span>@Html.Raw(TempData["SuccessMsg"])</span>
                                        </div>
                                    }
                                    @if (TempData["ErrorMsg"] != null)
                                    {
                                        <div class="alert alert-danger alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <i class="icon-blocked"></i><span>@Html.Raw(TempData["ErrorMsg"])</span>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="cs-user-section-title">
                                    <h4>Genral Settings</h4>
                                </div>
                            </div>
                            @using (Html.BeginForm("UpdateProfile", "Portal", FormMethod.Post, new { enctype = "multipart/form-data", @class = "user-setting" }))
                            {
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="cs-profile-pic">
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <div class="profile-pic">
                                                <div class="cs-media">
                                                    <figure>
                                                        <img id="dynamicImage" src="@Url.Content(Session["Image"].ToString())"
                                                             alt="Profile Image" width="120" height="120" />
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                                            <div class="cs-browse-holder">
                                                <em>My Profile Photo</em> <span class="file-input btn-file">
                                                    Change Avatar
                                                    <input name="file" type="file" id="choose-file" accept="image/png,image/jpg,image/jpeg" onchange="loadProfile(event)" />
                                                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>Full Name</label>
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="cs-field">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "Enter your Name" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>Complete Address</label>
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="cs-field">
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { placeholder = "Enter your complete address" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="cs-seprator"></div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h6>Contact Information</h6>
                                    </div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>Phone number</label>
                                        @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="cs-field">
                                            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { placeholder = "Enter your Phone number" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>Emaill Address</label>
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="cs-field">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Enter your Phone number" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="cs-seprator"></div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h6>Update password</h6>
                                    </div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>Password</label>
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="cs-field">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Enter your Password", @type = "password" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>Confirm password</label>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="cs-field">
                                            <input type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-md-12">
                                        <div class="cs-field">
                                            <div class="cs-btn-submit">
                                                <input type="submit"
                                                       value="Save Changes">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section" style="background:#19171a;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cs-ad" style="text-align:center; padding:55px 0 32px;">
                        <div class="cs-media">
                            <figure>
                                <img src="Files/extra-images/cs-ad-img.jpg" alt="" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}