@model IEnumerable<JRCar.BOL.Validation_Classes.ValidateAppointment>

@{
    ViewBag.Title = "Appointment List";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <style>
        .wp-automobile .cs-featurelisted-car .cs-post-types {
            width: 200px !important;
        }

        .wp-automobile .cs-featurelisted-car .cs-default-btn {
            padding: 3px 5px;
            width: auto;
        }
    </style>
    <div class="page-section" style="background: url(../../Files/extra-images/user-bg-img.jpg) no-repeat; background-size: cover; min-height: 175px; margin-top: -30px; margin-bottom: -129px;"></div>
    <div class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cs-user-account-holder">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ul class="cs-user-accounts-list">
                                <li><a href="@Url.Action("Myvehicles","Website")">My Vehicles</a></li>
                                <li><a href="@Url.Action("Shortlisted","Website")">Shortlisted</a></li>
                                <li class="active"><a href="@Url.Action("UserAppointmentsList","Website")">My Appointments</a></li>
                                <li>
                                    <a href="@Url.Action("ProfileSettings","Website")">Profile Settings</a>
                                </li>
                                <li><a href="@Url.Action("PostNewVehicles","Website")">Post a vehicles</a></li>
                                <li><a href="@Url.Action("Logout", "Account")">Sign Out</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="cs-user-section-title" style="margin-bottom: 10px !important">
                                <h4>List of Appointments</h4>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            @if (TempData["SuccessMsg"] != null)
                            {
                                <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <i class="icon-info-with-circle"></i><span>@Html.Raw(TempData["SuccessMsg"])</span>
                                </div>
                            }
                            @if (TempData["ErrorMsg"] != null)
                            {
                                <div class="alert alert-danger alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <i class="icon-blocked"></i><span>@Html.Raw(TempData["ErrorMsg"])</span>
                                </div>
                            }
                        </div>
                        <ul class="cs-featurelisted-car">
                            @foreach (var item in Model)
                            {
                                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="cs-media">
                                        @{
                                            var img = item.tblCar.tblCarImages.Select(s => s.Image).FirstOrDefault();
                                            if (img != null)
                                            {
                                                string path = Server.MapPath("" + img + "");
                                                string[] FolderName = img.Split('/');
                                                string[] imageFiles = Directory.GetFiles(path);
                                                List<string> images = new List<string>();
                                                foreach (var jha in imageFiles)
                                                {
                                                    images.Add(FolderName[2] + "/" + Path.GetFileName(jha));
                                                }
                                                <figure><a href="#"><img src="~/uploads/@images[0]" alt="Ad Image" style="width:-webkit-fill-available !important;" /></a></figure>
                                            }
                                        }
                                    </div>
                                    <div class="cs-text">
                                        <span class="cs-featured">@item.Datetime.ToString("dd MMMM yyyy hh:mm tt").ToUpperInvariant()</span>
                                        <h6><a href="@Url.Action("CarAds","Portal",new { AdID = item.tblCar.CarsURL })" target="_blank">@item.tblCar.tblManufacturer.Manufacturer_Name @item.tblCar.tblManfacturerCarModel.Manufacturer_CarModelName </a></h6>
                                        <div class="post-options">
                                            <span>Requested on: <em>@item.CreatedOn.ToString("dd MMMM yyyy hh:mm tt").ToUpperInvariant()</em></span>
                                            <span><a href="javascript:void(0)"> Showroom  <em>@item.tblShowroom.FullName</em></a></span>
                                        </div>
                                        <div class="cs-post-types">
                                            @{

                                                <a href="@Url.Action("CarAds","Portal",new { AdID = item.tblCar.CarsURL })" target="_blank" title="View Ad" class="cs-default-btn" style=" color: white; border: 1px solid #03b5eb; background: #03b5eb;">View Ad</a>
                                                if (item.Isactive == true && item.IsAccepted == true)
                                                {
                                                    <span class="cs-default-btn" style="color:#4aa818; border:1px solid #4aa818; margin-right: 10px;">
                                                        <span>Accepted</span>
                                                    </span>
                                                }
                                                else if (item.Isactive == true && item.IsAccepted == false)
                                                {
                                                    <span class="cs-default-btn" style="color:#d00000; border:1px solid #d00000; margin-right: 10px;">
                                                        <span>Request Pending</span>
                                                    </span>
                                                }
                                                else if (item.Isactive == false && item.IsAccepted == false)
                                                {
                                                    <span class="cs-default-btn" style="color:#d00000; border:1px solid #d00000; margin-right: 10px;">
                                                        <span>Rejected</span>
                                                    </span>
                                                }
                                            }
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section" style="background:#19171a;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cs-ad" style="text-align:center; padding:55px 0 32px;">
                        <div class="cs-media">
                            <figure>
                                <img src="~/Files/extra-images/cs-ad-img.jpg" alt="" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
