
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StarterPortal.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
    <style>
        .users-list > li img {
            border-radius: 50%;
            height: 60px !important;
            width: 60px !important;
        }
    </style>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="javascript:">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box shadow-lg">
                        <span class="info-box-icon bg-gradient-info elevation-1"><i class="fas fa-ad"></i></span>
                        @if (User.IsInRole("Showroom"))
                        {
                            <div class="info-box-content">
                                <span class="info-box-text">Total Ads</span>
                                <span class="info-box-number">
                                    @ViewBag.ShowroomAdsCount
                                </span>
                            </div>
                        }
                        @if (User.IsInRole("Union") || User.IsInRole("Admin"))
                        {
                            <div class="info-box-content">
                                <span class="info-box-text">Showrooms Ads</span>
                                <span class="info-box-number">
                                    @ViewBag.ShowroomsAdsCount
                                </span>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3 shadow-lg">
                        <span class="info-box-icon bg-gradient-danger elevation-1"><i class="fas fa-trash-alt"></i></span>
                        @if (User.IsInRole("Showroom"))
                        {
                            <div class="info-box-content">
                                <span class="info-box-text">Inactive Ads</span>
                                <span class="info-box-number">
                                    @ViewBag.ShowroomInactiveAdsCount
                                </span>
                            </div>
                        }
                        @if (User.IsInRole("Union") || User.IsInRole("Admin"))
                        {
                            <div class="info-box-content">
                                <span class="info-box-text">Showrooms Inactive Ads</span>
                                <span class="info-box-number">
                                    @ViewBag.ShowroomsInactiveAdsCount
                                </span>
                            </div>
                        }
                    </div>
                </div>
                <div class="clearfix hidden-md-up"></div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3 shadow-lg">
                        <span class="info-box-icon bg-gradient-pink elevation-1"><i class="fas fa-heart"></i></span>
                        @if (User.IsInRole("Showroom"))
                        {
                            <div class="info-box-content">
                                <span class="info-box-text">Shortlisted Ads By User</span>
                                <span class="info-box-number">
                                    @ViewBag.ShowroomFavAdsCount
                                </span>
                            </div>
                        }
                        @if (User.IsInRole("Union") || User.IsInRole("Admin"))
                        {
                            <div class="info-box-content">
                                <span class="info-box-text">Users Ads</span>
                                <span class="info-box-number">
                                    @ViewBag.UsersAdsCount
                                </span>
                            </div>
                        }
                    </div>
                </div>
                @if (User.IsInRole("Showroom"))
                {
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3 shadow-lg">
                            <span class="info-box-icon bg-gradient-green elevation-1"><i class="fas fa-dollar-sign text-white"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Total Paid Maintenance</span>
                                <span class="info-box-number">
                                    Rs.@ViewBag.ShowroomTotalPaidAmnt
                                </span>
                            </div>
                        </div>
                    </div>
                }
                @if (User.IsInRole("Union") || User.IsInRole("Admin"))
                {
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3 shadow-lg">
                            <span class="info-box-icon bg-gradient-primary elevation-1"><i class="fas fa-user-circle text-white"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Total Showrooms</span>
                                <span class="info-box-number">
                                    @ViewBag.ShowroomsCount
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (User.IsInRole("Union") || User.IsInRole("Admin"))
            {
                <div class="row">
                    <div class="col-lg-6 col-6">
                        <div class="small-box bg-gradient-info">
                            <div class="inner">
                                <h3>@ViewBag.UsersCount</h3>

                                <p>Total Users</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-users"></i>
                            </div>
                            <a href="javascript:" class="small-box-footer">
                                &nbsp;
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-6">
                        <div class="small-box bg-gradient-success">
                            <div class="inner">
                                <h3>Rs.@ViewBag.ShowroomsTotalPaidAmnt</h3>

                                <p>Total Recieved Maintenance</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-money-check-alt"></i>
                            </div>
                            <a href="javascript:" class="small-box-footer">
                                More info <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
            @if (User.IsInRole("Showroom"))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div id="ShowroomChartCont" class="mb-3 shadow-lg" style="border-radius:5px !important;"></div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-8">
                    @if (User.IsInRole("Showroom"))
                    {
                        <div class="card">
                            <div class="card-header bg-gradient-blue">
                                <h3 class="card-title">Recently Added Car Ads</h3>
                            </div>
                            <div class="card-body p-0">
                                <ul class="products-list product-list-in-card pl-2 pr-2">
                                    @foreach (var item in ViewBag.RecentAds)
                                    {
                                        <li class="item">
                                            <div class="product-img">
                                                @if (item.CarImage != null)
                                                {
                                                    string path = Server.MapPath("" + item.CarImage + "");
                                                    string[] FolderName = item.CarImage.Split('/');
                                                    string[] imageFiles = Directory.GetFiles(path);
                                                    List<string> images = new List<string>();
                                                    foreach (var jha in imageFiles)
                                                    {
                                                        images.Add(FolderName[2] + "/" + Path.GetFileName(jha));
                                                    }
                                                    <img src="~/uploads/@images[0]" alt="Ad Image" class="img-size-50">
                                                    @*<img src="~/uploads/@images[0]" alt="Ad Image" style=" height:60px !important; width:80px !important;" />*@
                                                }
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript:void(0)" class="product-title">
                                                    @item.Title.ToUpper()
                                                    <span class="badge badge-warning float-right">Rs. @item.Price</span>
                                                </a>
                                                <span class="product-description">
                                                    @item.Manufacturer_Name @item.Manufacturer_CarModelName
                                                </span>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="card-footer text-center">
                                <a href="/ShowroomAd/MyAds" class="uppercase">View All Cars</a>
                            </div>
                        </div>
                    }
                    @if (User.IsInRole("Union") || User.IsInRole("Admin"))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Latest Showrooms</h3>
                                        <div class="card-tools">
                                            <span class="badge badge-danger">8 New Showrooms</span>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <ul class="users-list clearfix">
                                            @foreach (var item in ViewBag.LatestShowrooms)
                                            {
                                                <li>
                                                    <img src="@Url.Content(item.Image)" alt="User Image">
                                                    <a class="users-list-name" href="javascript:">@System.Text.RegularExpressions.Regex.Replace(item.FullName.Split()[0], @"[^0-9a-zA-Z\ ]+", "").ToUpper()</a>
                                                    <span class="users-list-date"><b>Joined:</b> @item.CreatedOn.ToString("dd MMM")</span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="javascript:">&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Latest Members</h3>
                                        <div class="card-tools">
                                            <span class="badge badge-danger">8 New Members</span>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <ul class="users-list clearfix">
                                            @foreach (var item in ViewBag.LatestUsers)
                                            {
                                                <li>
                                                    <img src="@Url.Content(item.Image)" alt="User Image">
                                                    <a class="users-list-name" href="javascript:">@System.Text.RegularExpressions.Regex.Replace(item.Name.Split()[0], @"[^0-9a-zA-Z\ ]+", "").ToUpper()</a>
                                                    <span class="users-list-date"><b>Joined:</b> @item.CreatedOn.ToString("dd MMM")</span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="javascript:">&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-4">
                    <div class="info-box mb-2 p-2 bg-gradient-navy">
                        <span class="info-box-icon"><i class="fas fa-chart-line text-white"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Total Ads Views</span>
                            <span class="info-box-number">@ViewBag.ShowroomTotalAdViews</span>
                        </div>
                    </div>
                    <div class="info-box mb-2 p-2 bg-gradient-success">
                        <span class="info-box-icon"><i class="far fa-heart"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Mentions</span>
                            <span class="info-box-number">92,050</span>
                        </div>
                    </div>
                    <div class="info-box mb-2 p-2 bg-gradient-primary">
                        <span class="info-box-icon"><i class="far fa-heart"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Mentions</span>
                            <span class="info-box-number">92,050</span>
                        </div>
                    </div>
                    <div class="info-box mb-2 p-2 bg-gradient-info shadow-lg">
                        <span class="info-box-icon"><i class="fas fa-info-circle"></i></span>
                        <div class="info-box-content" style="padding: 0 5px;">
                            <span class="info-box-text">Current Login Info</span>
                            <span class="info-box-number" style=" font-size: 14px; line-height: 16px;">Active Browser @HttpContext.Current.Request.Browser.Browser, Your Public IP: @ViewBag.CurrentDetails</span>
                        </div>
                    </div>
                    @if (User.IsInRole("Showroom"))
                    {
                        <div class="card">
                            <div class="card-header bg-gradient-blue">
                                <h3 class="card-title">Recently Added Car Ads</h3>
                            </div>
                            <div class="card-body p-0">
                                <ul class="products-list product-list-in-card pl-2 pr-2">
                                    @foreach (var item in ViewBag.RecentAds)
                                    {
                                        <li class="item">
                                            <div class="product-img">
                                                @if (item.CarImage != null)
                                                {
                                                    string path = Server.MapPath("" + item.CarImage + "");
                                                    string[] FolderName = item.CarImage.Split('/');
                                                    string[] imageFiles = Directory.GetFiles(path);
                                                    List<string> images = new List<string>();
                                                    foreach (var jha in imageFiles)
                                                    {
                                                        images.Add(FolderName[2] + "/" + Path.GetFileName(jha));
                                                    }
                                                    <img src="~/uploads/@images[0]" alt="Ad Image" class="img-size-50">
                                                    @*<img src="~/uploads/@images[0]" alt="Ad Image" style=" height:60px !important; width:80px !important;" />*@
                                                }
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript:void(0)" class="product-title">
                                                    @item.Title.ToUpper()
                                                    <span class="badge badge-warning float-right">Rs. @item.Price</span>
                                                </a>
                                                <span class="product-description">
                                                    @item.Manufacturer_Name @item.Manufacturer_CarModelName
                                                </span>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="card-footer text-center">
                                <a href="/ShowroomAd/MyAds" class="uppercase">View All Cars</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (User.IsInRole("Union") || User.IsInRole("Admin"))
            {
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div id="ShowroomChartCont" class="mb-3 shadow-lg" style="border-radius:5px !important;"></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div id="UserChartCont" class="mb-3 shadow-lg" style="border-radius:5px !important;"></div>
                    </div>
                </div>
            }
        </div>
    </section>
    <script src="~/scripts/jquery-3.6.0.min.js"></script>
    <script>
        document.getElementById('DashboardPage').classList.add('active');

        $(document).ready(function () {
            $.getJSON("/Account/GetShowroomAdsData", function (data) {
                var Names = []
                var Qts = []
                for (var i = 0; i < data.length; i++) {
                    Names.push(data[i].FullName);
                    Qts.push(data[i].count);
                }

                Highcharts.chart('ShowroomChartCont', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: '<b>Showroom Ads</b>'
                    },
                    subtitle: {
                        text: '<b>Source: JRCar Reporting</b>'
                    },
                    xAxis: {
                        title: {
                            text: '<b>Ad Title</b>'
                        },
                        categories: Names
                    },
                    yAxis: {
                        title: {
                            text: '<b>Views Range</b>'
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: true
                        }
                    },
                    series: [{
                        name: 'Ads Views',
                        data: Qts
                    }],
                    exporting: {
                        enabled: false
                    },
                    credits: {
                        enabled: false
                    }
                });
            });

            $.getJSON("/Account/GetUserAdsData", function (data) {
                var Names = []
                var Qts = []
                for (var i = 0; i < data.length; i++) {
                    Names.push(data[i].FullName);
                    Qts.push(data[i].count);
                }

                Highcharts.chart('UserChartCont', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: '<b>User Ads</b>'
                    },
                    subtitle: {
                        text: '<b>Source: JRCar Reporting</b>'
                    },
                    xAxis: {
                        title: {
                            text: '<b>Ad Title</b>'
                        },
                        categories: Names
                    },
                    yAxis: {
                        title: {
                            text: '<b>Views Range</b>'
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: true
                        }
                    },
                    series: [{
                        name: 'Ads Views',
                        data: Qts
                    }],
                    exporting: {
                        enabled: false
                    },
                    credits: {
                        enabled: false
                    }
                });
            });
        });
    </script>
}