@model JRCar.BOL.Validation_Classes.ValidateShowroom
@{
    ViewBag.Title = "ShowroomSignUp";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
<style>
    .panel-default .panel-heading a:before {
        content: "\e945";
        position: relative;
        top: 0;
        left: 95%;
        font-size: 14px;
        color: #423737;
        font-family: "icomoon";
    }

    .InputSet {
        color: #999 !important;
        font-size: 14px !important;
        border: 1px solid #c4c4c4 !important;
    }

    .wp-automobile .cs-signin .cs-field-holder input[type=text] {
        color: #2e2e2e !important;
    }
</style>

<div class="main-section">
    <div class="page-section" style="background: #fafafa none repeat scroll 0 0;margin-top: -30px;padding: 39px 0 44px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cs-socials-media">
                        <em style="font-size: 2.2em; line-height: 1.2em;margin:0 !important;">
                            JRCar Find Used Cars in Pakistan
                        </em>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:15px !important;">
                    <div class="cs-massege-box">
                        @if (@TempData["SuccessMsg"] != null)
                        {
                            <div class="alert alert-info alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="icon-info-with-circle"></i><span>@Html.Raw(TempData["SuccessMsg"])</span>
                            </div>
                        }
                        @if (TempData["ErrorMsg"] != null)
                        {
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="icon-blocked"></i><span>@Html.Raw(TempData["ErrorMsg"])</span>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="cs-signin" style="background: url(../../Images/bg-1.jpg); margin-top: 15px !important; box-shadow: 0px 0px 7px 3px #a5a5a5; min-height: 75rem !important; background-position: unset; background-repeat: no-repeat; background-size: cover;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="cs-register">
                        <h4 style="font-size: 24px !important; line-height: 28px !important;">SIGN UP AS SHOWROOM</h4>
                        <div class="row">
                            @using (Html.BeginForm("ShowroomSignUp", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>Shop Name</label>
                                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { placeholder = "Type your Shop name" } })
                                    </div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>Email address </label>
                                        @Html.ValidationMessageFor(model => model.SignUpEmail, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.SignUpEmail, new { htmlAttributes = new { placeholder = "Enter your Email", @class = "InputSet" } })
                                    </div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>Password</label>
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        @Html.PasswordFor(model => model.Password, new { placeholder = "Enter your Password", @class = "InputSet" })
                                    </div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>CNIC Number</label>
                                        @Html.ValidationMessageFor(model => model.CNIC, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.CNIC, new { htmlAttributes = new { placeholder = "Enter your CNIC number" } })
                                    </div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>Phone Number </label>
                                        @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { placeholder = "Enter your Phone number" } })
                                    </div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>Shop Number</label>
                                        @Html.ValidationMessageFor(model => model.ShopNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.ShopNumber, new { htmlAttributes = new { placeholder = "Enter your Shop number" } })
                                    </div>
                                </div>
                                <div class="cs-field-holder" style="margin: 0 !important">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>Select Company Logo</label>
                                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger", @id = "ImageFF" })
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input type="file" name="file" required="required" accept="image/png,image/jpg,image/jpeg" id="formFile" class="form-control" />
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="visibility:hidden !important">
                                        @Html.EditorFor(model => model.Image, new { htmlAttributes = new { placeholder = "Image", @readonly = "readonly" } })
                                    </div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="cs-btn-submit">
                                            <input type="submit" value="Register">
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="separator-hr">or</div>
                            <div style="color: #979696; display: flex; align-items: center; justify-content: center; font-weight: 700; "> <i class="icon-user-plus2" style="margin-right: 5px;"></i> <strong style="margin-right: 5px;">Already a Member ? </strong> <a class="cs-color" href="@Url.Action("SignIn", "Account")" style="margin-right: 5px;">SignIn Now</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section" style="background:#19171a;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cs-ad" style="text-align:center; padding:55px 0 32px;">
                        <div class="cs-media">
                            <figure>
                                <img src="~/Files/extra-images/cs-ad-img.jpg" alt="" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("input[name='file']").change(function () {
        console.log('Hello');
        var SelectFileslength = $("input[name='file']")[0].files.length;
        if (SelectFileslength >= 1) {
            $("#Image").val(SelectFileslength);
        }
        else {
            $("#Image").val("");
        }
    })

    setInterval(function () {
        var SelectFileslength = $("input[name='file']")[0].files.length;
        if (SelectFileslength >= 1) {
            $("#ImageFF").attr('class', 'text-danger field-validation-valid');
            $("#Image-error").remove();
        }
        else {
            var SpanLength = $("#ImageFF").has('span').length;
            if (SpanLength <= 0) {
                $("#ImageFF").attr('class', 'text-danger field-validation-error');
                $("#ImageFF").append("<span id='Image-error' class=''>*</span>");
            }
        }
    }, 1);

</script>
