@model JRCar.BOL.Validation_Classes.ValidateUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <section class="ftco-section">
            <div class="container">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        @if (TempData["SuccessMsg"] != null)
                        {
                            <br />
                            <div class="alert alert-dismissable alert-success" id="sucessAlert">
                                @TempData["SuccessMsg"].ToString() <p class="pull-right btn" style="padding: 5px;" onclick="myFunction()">&times;</p>
                            </div>
                        }
                        @if (TempData["ErrorMsg"] != null)
                        {
                            <br />
                            <div class="alert alert-dismissable alert-danger" id="errorAlert">
                                @TempData["ErrorMsg"].ToString() <p class="pull-right btn" style="padding: 5px;" onclick="hidealert">&times;</p>
                            </div>
                        }
                        <div class="wrap d-md-flex">
                            <div class="img" style="background-image: url(../../Images/bg-1.jpg);">
                            </div>
                            <div class="login-wrap p-4">
                                <div class="d-flex">
                                    <div class="w-100">
                                        <h3 class="mb-4">Sign Up</h3>
                                    </div>
                                    <div class="w-100">
                                        <p class="social-media d-flex justify-content-end">
                                            <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                            <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "label" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Username" } })

                                    @*<label class="label" for="name">Username</label>
                                        <input type="text" class="form-control" placeholder="Username" required>*@
                                </div>
                                <div class="form-group mb-3">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "label" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })

                                    @*<label class="label" for="password">Password</label>
                                        <input type="password" class="form-control" placeholder="Password" required>*@
                                </div>
                                <div class="form-group mb-3">
                                    @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "label" })
                                    @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control", placeholder = "Number" } })
                                </div>
                                <div class="form-group mb-3">
                                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "label" })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address" } })
                                </div>
                                <div class="form-group mb-3">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "label" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                                </div>
                                <div class="form-group mb-3">
                                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "label" })
                                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                    <input type="file" name="file" required="required" accept="image/png, image/jpg, image/jpeg" id="formFile" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign Up</button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50 text-left">
                                        <label class="checkbox-wrap checkbox-primary mb-0">
                                            Remember Me
                                            <input type="checkbox" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="w-50 text-md-right">
                                        <a href="#">Forgot Password</a>
                                    </div>
                                </div>
                                <p class="text-center">Already a member? <a data-toggle="tab" href="#signup">Sign In</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    <script src="~/scripts/jquery-3.6.0.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("sucessAlert");
            x.style.display = "none";
            var y = document.getElementById("errorAlert");
            y.style.display = "none";
        }
    </script>
</body>
</html>