@model JRCar.BOL.Validation_Classes.ValidateUser
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="main-section">
    <div class="page-section" style="background: #fafafa none repeat scroll 0 0;margin-top: -30px;padding: 39px 0 44px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cs-socials-media">
                        <em style="font-size: 2.2em; line-height: 1.2em;margin:0 !important;">
                            JRCar Find Used Cars in Pakistan
                        </em>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:15px !important;">
                    <div class="cs-massege-box">
                        @if (@TempData["SuccessMsg"] != null)
                        {
                            <div class="alert alert-info alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="icon-info-with-circle"></i><span>@Html.Raw(TempData["SuccessMsg"])</span>
                            </div>
                        }
                        @if (TempData["ErrorMsg"] != null)
                        {
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="icon-blocked"></i><span>@Html.Raw(TempData["ErrorMsg"])</span>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="cs-signin" style="background: url(../../Images/bg-1.jpg); box-shadow: 0px 0px 7px 3px #a5a5a5; min-height: 30rem !important; background-position: center center; background-repeat: no-repeat; background-size: cover;">
                        <div class="row">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="cs-signin">
                        <h4>LOGIN</h4>
                        <div class="row">
                            @using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
                            {
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>Username or email address </label>
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Enter your email" } })
                                    </div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label>Password</label>
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        @Html.PasswordFor(model => model.Password, new { placeholder = "Enter your password" })
                                    </div>
                                </div>
                                <div class="cs-field-holder">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="cs-btn-submit">
                                            <input type="submit" value="Login">
                                        </div>
                                        <a href="@Url.Action("ForgotPassword", "Account")" class="cs-forgot-password"><i class="cs-color icon-help-with-circle"></i>Forgot password?</a>
                                    </div>
                                </div>
                            }
                            <div class="separator-hr">or</div>
                            <div style="color: #979696; display: flex; align-items: center; justify-content: center; font-weight: 700; "> <i class="icon-user-plus2" style="margin-right: 5px;"></i> <strong style="margin-right: 5px;">Not a Member yet? </strong> <a class="cs-color" href="@Url.Action("SignUp", "Account")" style="margin-right: 5px;">Signup Now</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section" style="background:#19171a;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cs-ad" style="text-align:center; padding:55px 0 32px;">
                        <div class="cs-media">
                            <figure>
                                <img src="~/Files/extra-images/cs-ad-img.jpg" alt="" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
