@model JRCar.BOL.Validation_Classes.ValidateUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    @using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
    {
        <section class="ftco-section1">
            <div class="container">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        @if (TempData["SuccessMsg"] != null)
                        {
                            <br />
                            <div class="alert alert-dismissable alert-success" id="sucessAlert">
                                @Html.Raw(TempData["SuccessMsg"]) <p class="pull-right btn" style="padding: 5px;" onclick="myFunction()">&times;</p>
                            </div>
                        }
                        @if (TempData["ErrorMsg"] != null)
                        {
                            <br />
                            <div class="alert alert-dismissable alert-danger" id="errorAlert">
                                @Html.Raw(TempData["ErrorMsg"])  <p class="pull-right btn" style="padding: 5px;" onclick="myFunction()">&times;</p>
                            </div>
                        }
                        <div class="wrap d-md-flex">
                            <div class="img" style="background-image: url(../../Images/bg-1.jpg);">
                            </div>
                            <div class="login-wrap p-4">
                                <div class="d-flex">
                                    <div class="w-100">
                                        <h3 class="mb-4">Sign In</h3>
                                    </div>
                                    <div class="w-100">
                                        <p class="social-media d-flex justify-content-end">
                                            <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                            <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "label" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your email" } })
                                </div>
                                <div class="form-group mb-3">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "label" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter your password" })
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50 text-left">
                                        <label class="checkbox-wrap checkbox-primary mb-0">
                                            Remember Me
                                            <input type="checkbox" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="w-50 text-md-right">
                                        @Html.ActionLink("Forgot Password", "ForgotPassword", "Account")
                                    </div>
                                </div>
                                <p class="text-center">
                                    Not a member? @*<a data-toggle="tab" href="@Url.Action("SignIn", "Account")">Sign In</a>*@
                                    @Html.ActionLink("Sign Up", "SignUp", "Account")
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    <script src="~/scripts/jquery-3.6.0.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("sucessAlert");
            x.style.display = "none";
            var y = document.getElementById("errorAlert");
            y.style.display = "none";
        }
    </script>
</body>
</html>