@model JRCar.BOL.Validation_Classes.ValidateUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    @using (Ajax.BeginForm("ResetPass", "Account", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "DivUpdate1",
        LoadingElementId = "loader"
    }))
    {
        <div id="DivUpdate1">
            <section class="ftco-section1">
                <div class="container">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-10">
                            @if (TempData["SuccessMsg"] != null)
                            {
                                <br />
                                <div class="alert alert-dismissable alert-success" id="sucessAlert">
                                    @Html.Raw(@TempData["SuccessMsg"]) <p class="pull-right btn" style="padding: 5px;" onclick="myFunction()">&times;</p>
                                </div>
                            }
                            @if (TempData["ErrorMsg"] != null)
                            {
                                <br />
                                <div class="alert alert-dismissable alert-danger" id="errorAlert">
                                    @TempData["ErrorMsg"].ToString() <p class="pull-right btn" style="padding: 5px;" onclick="myFunction()">&times;</p>
                                </div>
                            }
                            <div class="wrap d-md-flex">
                                <div class="img" style="background-image: url(../../Images/bg-1.jpg);">
                                </div>
                                <div class="login-wrap p-4">
                                    <div class="d-flex">
                                        <div class="w-100">
                                            <h5>Reset Password</h5>
                                        </div>
                                    </div>
                                    <hr style="margin-top: 0px !important;" />
                                    <div id="loader" class="loaderStyle" style="display: none!important;">
                                        <img src="~/Content/Spinner-1s-200px.gif" alt="Please Wait......" width="100" height="100" />
                                    </div>
                                    <div class="form-group mb-3">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "label" })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter new password" })
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="form-control btn btn-primary rounded submit px-3">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    }
    <script src="~/scripts/jquery-3.6.0.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("sucessAlert");
            x.style.display = "none";
            var y = document.getElementById("errorAlert");
            y.style.display = "none";
        }
    </script>
</body>
</html>