@model JRCar.BOL.Validation_Classes.ValidateUser

@{
    Layout = null;
}


<div id="DivUpdate1">
    <div class="cs-massege-box">
        @if (@TempData["SuccessMsg"] != null)
        {
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="icon-info-with-circle"></i><span>@Html.Raw(TempData["SuccessMsg"])</span>
            </div>
        }
        @if (TempData["ErrorMsg"] != null)
        {
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="icon-blocked"></i><span>@Html.Raw(TempData["ErrorMsg"])</span>
            </div>
        }
    </div>
    <div class="cs-signin">
        <h4>RESET PASSWORD</h4>
        <div class="row">
            @using (Ajax.BeginForm("ResetPass", "Account", new AjaxOptions()
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "DivUpdate1",
                LoadingElementId = "loader",
                OnSuccess = "fnSuccess"
            }))
            {
                <div id="loader" class="loaderStyle" style="display: none!important;">
                    <img src="~/Content/Spinner-1s-200px.gif" alt="Please Wait......" width="100" height="100" />
                </div>
                <div class="cs-field-holder">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>Enter your password</label>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.PasswordFor(model => model.Password, new { placeholder = "Enter your new password" })
                    </div>
                </div>
                <div class="cs-field-holder">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="cs-btn-submit">
                            <input type="submit" value="Submit">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
