<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="@Url.Action("Index","Account")" class="brand-link">
        <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity:0.8">
        <span class="brand-text font-weight-light">Admin Portal</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@Url.Content((string)@Session["Image"])" class="img-circle elevation-2" style="height:2.1rem !important;" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@Session["Name"]</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" id="SiderbarNav" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="@Url.Action("Index","Account")" class="nav-link" id="DashboardPage">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>DASHBOARD</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("UpdateProfile","Portal")" class="nav-link" id="ShopProfilePage">
                        <i class="fas fa-user-edit nav-icon"></i>
                        <p>PROFILE SETTING</p>
                    </a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a href="@Url.Action("ListOfUnion","Portal")" class="nav-link" style="padding-left: 14px;" id="UnionPage">
                            <i class="fas fa-envelope nav-icon" style="margin-left: 0px;"></i>
                            <p>Manage Union</p>
                        </a>
                    </li>
                }

                @if (User.IsInRole("Admin") || User.IsInRole("Union"))
                {
                    <li class="nav-item">
                        <a href="@Url.Action("MakeAnnouncment","Portal")" class="nav-link" style="padding-left: 14px;" id="AnnoPage">
                            <i class="fas fa-bullhorn nav-icon" style="margin-left: 0px;"></i>
                            <p>Announcments</p>
                        </a>
                    </li>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link" id="UsersNav">
                            <i class="nav-icon fas fa-ad"></i>
                            <p>
                                Manage User
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("AddUser","Portal")" class="nav-link" id="AddUserPage">
                                    <i class="far fa-circle nav-icon text-bold text-blue"></i>
                                    <p>Add User</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListOfUser","Portal")" class="nav-link" id="UserManagePage">
                                    <i class="far fa-circle nav-icon text-bold text-teal"></i>
                                    <p>List Of Users</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link" id="ShowroomsNav">
                            <i class="nav-icon fas fa-ad"></i>
                            <p>
                                Manage Showroom
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("AddShowroom","Portal")" class="nav-link" id="AddShowroomPage">
                                    <i class="far fa-circle nav-icon text-bold text-blue"></i>
                                    <p>Add Showroom</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListOfShowroom","Portal")" class="nav-link" id="ShowroomManagePage">
                                    <i class="far fa-circle nav-icon text-bold text-teal"></i>
                                    <p>List Of Showrooms</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link" id="AdssNav">
                            <i class="nav-icon fas fa-ad"></i>
                            <p>
                                Manage Ads
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("ListofShowroomAds","Portal")" class="nav-link" id="MngShowroomAdsPage">
                                    <i class="far fa-circle nav-icon text-bold text-blue"></i>
                                    <p>Manage Showroom Ads</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListofUserAds","Portal")" class="nav-link" id="MngUserAdsPage">
                                    <i class="far fa-circle nav-icon text-bold text-green"></i>
                                    <p>Manage User Ads</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link" id="PaysNav">
                            <i class="nav-icon fas fa-ad"></i>
                            <p>
                                Manage Payments
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("MakePayment","Portal")" class="nav-link" id="MakePaymentPage">
                                    <i class="far fa-circle nav-icon text-bold text-blue"></i>
                                    <p>Make Payments</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ShowroomPayment","Portal")" class="nav-link" id="LstPaymentPage">
                                    <i class="far fa-circle nav-icon text-bold text-green"></i>
                                    <p>List of Payments</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Showroom"))
                {
                    <li class="nav-item">
                        <a href="@Url.Action("NotificationList","Portal")" class="nav-link" style="padding-left: 14px;" id="NotificationPage">
                            <i class="fas fa-bell nav-icon" style="margin-left: 0px;"></i>
                            <p>NOTIFICATIONS</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("AppointmentList","Portal")" class="nav-link" style="padding-left: 14px;" id="AppointmentPage">
                            <i class="fas fa-calendar-alt nav-icon" style="margin-left: 0px;"></i>
                            <p>APPOINTMENTS</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("ShowroomMessagesList","Portal")" class="nav-link" style="padding-left: 14px;" id="ContactPage">
                            <i class="fas fa-comment-dots nav-icon" style="margin-left: 0px;"></i>
                            <p>User Queries</p>
                        </a>
                    </li>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link" id="ReportsNav">
                            <i class="nav-icon fas fa-ad"></i>
                            <p>
                                REPORTS
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("ShowroomReport","Portal")" class="nav-link" id="InvReportsPage">
                                    <i class="fas fa-chart-area nav-icon"></i>
                                    <p>CAR REPORT</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" id="TransactionReportPage">
                                    <i class="far fa-circle nav-icon text-bold text-green"></i>
                                    <p>TRANSACTION REPORT</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link" id="ShowroomAdNav">
                            <i class="nav-icon fas fa-ad"></i>
                            <p>
                                SHOWROOM AD
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("PostNewAd","Portal")" class="nav-link" id="PostNewAdPage">
                                    <i class="far fa-circle nav-icon text-bold text-info"></i>
                                    <p>POST NEW AD</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("MyAds","Portal")" class="nav-link" id="MyAdsPage">
                                    <i class="far fa-circle nav-icon text-bold text-green"></i>
                                    <p>MY ADS</p>
                                </a>
                            </li>
                            @*<li class="nav-item">
                                    <a href="#" class="nav-link" id="ShortlistedPage">
                                        <i class="far fa-circle nav-icon text-bold text-teal"></i>
                                        <p>SHORTLISTED</p>
                                    </a>
                                </li>*@
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("ShowroomPaymentInfo","Portal")" class="nav-link" style="padding-left: 14px;" id="MonthlyPayPage">
                            <i class="fas fa-cash-register nav-icon" style="margin-left: 0px;"></i>
                            <p>Monthly Payments</p>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</aside>