<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Image Uploader -->
    <link type="text/css" rel="stylesheet" href="~/dist/image-uploader.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <style>
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            -webkit-text-fill-color: #fff !important;
            -webkit-box-shadow: 0 0 0 1000px #4183bba3 inset !important;
        }

        .custom-file-upload {
            background-color: #577a9f;
            padding: 6px;
            border: 1px solid #e3e3e3;
            border-radius: 5px;
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            width: 8rem;
            margin-top: 3px;
        }

        .dark-mode .close, .dark-mode .mailbox-attachment-close {
            color: #ffffff;
            text-shadow: 0 1px 0 #ffffff;
        }

        .alert .close, .alert .mailbox-attachment-close {
            color: #fff;
            opacity: 1;
        }

        .dynamicImage {
            height: 150px !important;
            width: 150px !important;
            margin: 10px !important;
            border: 2px solid #ededed !important;
        }

        #dynamicImage {
            background: #f8f8f8;
            border: 1px solid #ededed;
            border-radius: 2px;
        }
    </style>
</head>
@if (User.Identity.IsAuthenticated)
{
    <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
        <div class="wrapper">

            <!-- Preloader -->
            @*<div class="preloader flex-column justify-content-center align-items-center">
                    <img class="animation__wobble" src="~/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
                </div>*@

            <!-- Navbar -->
            @Html.Partial("_HeaderPortal")
            <!-- /.navbar -->
            <!-- Main Sidebar Container -->
            @Html.Partial("_SidebarPortal")
            <!-- /. main-sidebar-container -->
            <!-- Content Wrapper. Contains page content -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Appointment Request</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <h4 class="text-center text-bold bg-gradient-info text-white w-100"> Appointment Information: </h4>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <span class="text-bold">From User:</span>
                                    <span id="MUser"></span>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <span class="text-bold">Posted On:</span>
                                    <span id="MPosted"></span>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <span class="text-bold">For Car:</span>
                                    <span id="MCar"></span>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <span class="text-bold">At Date/Time:</span>
                                    <span id="MDate"></span>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <span class="text-bold">Message:</span>
                                    <span id="MDescp"></span>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <span class="text-bold">Phone Number:</span>
                                    <span id="MPhone"></span>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center mt-3">
                                    <a class="btn btn-sm btn-primary pr-5 pl-5" id="MAd" href="#" target="_blank">View Ad</a>
                                </div>
                            </div>
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Date/Time:</label>
                                    <input type="datetime-local" class="form-control" placeholder="Select date" id="DateAppnt">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Message:</label>
                                    <textarea class="form-control" id="message-text"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" onclick="RejectAppnt()">Reject</button>
                            <button type="button" class="btn btn-primary" onclick="SndAppnt()">Send Message & Accept</button>
                            <button type="button" class="btn btn-success" onclick="AccAppnt()">Accept</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                @RenderBody()
            </div>
            <!-- /.content-wrapper -->
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
            <!-- Main Footer -->
            @Html.Partial("_FooterPortal")
            <!-- /. main-footer -->

        </div>
        <!-- ./wrapper -->
        <!-- REQUIRED SCRIPTS -->
        <!-- jQuery -->
        <script src="~/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Select2 -->
        <script src="~/plugins/select2/js/select2.full.min.js"></script>
        <script src="~/plugins/select2/js/select2.min.js"></script>
        <!-- overlayScrollbars -->
        <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/dist/js/adminlte.js"></script>
        <!-- PAGE PLUGINS -->
        <!-- DataTables  & Plugins -->
        <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
        <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
        <script src="~/plugins/jszip/jszip.min.js"></script>
        <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
        <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
        <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
        <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
        <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
        <!-- jQuery Mapael -->
        <script src="~/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
        <script src="~/plugins/raphael/raphael.min.js"></script>
        <script src="~/plugins/jquery-mapael/jquery.mapael.min.js"></script>
        <script src="~/plugins/jquery-mapael/maps/usa_states.min.js"></script>
        <!-- ChartJS -->
        <script src="~/plugins/chart.js/Chart.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="~/dist/js/demo.js"></script>
        <!-- SweetAlert2 -->
        <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
        <!-- Image Uploader -->
        <script type="text/javascript" src="~/dist/image-uploader.min.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="~/dist/js/pages/dashboard2.js"></script>
        <script src="~/scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/scripts/jquery.signalR-2.4.3.min.js"></script>
        <script src="~/signalr/hubs"></script>
        @* Add css  *@
        @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
        @* Add jquery code for Get Notification & setup signalr *@
        <script type="text/javascript">
        $(document).ready(function () {
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            // extend jquery range validator to work for required checkboxes
            var defaultRangeValidator = $.validator.methods.range;
            $.validator.methods.range = function (value, element, param) {
                if (element.type === 'checkbox') {
                    // if it's a checkbox return true if it is checked
                    return element.checked;
                } else {
                    // otherwise run the default validation function
                    return defaultRangeValidator.call(this, value, element, param);
                }
            }

            $(function () {
                $("#example1").DataTable({
                    "responsive": true, "lengthChange": true, "autoWidth": false, "ordering": false, "info": true, columnDefs: [
                        { width: '30%', targets: 0 }
                    ],
                    fixedColumns: true
                });

                $("#example3").DataTable({
                    "responsive": true, "lengthChange": true, "autoWidth": false, "ordering": false, "info": true
                });

                $('#example2').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                    "responsive": true,
                });
            });

            $('.input-images-1').imageUploader();

            $('#CategoryD').show();
            $('#SubCategoryD').hide();
            $('#RecSec').hide();
            $('#RecAmou').hide();
            $('#ManufacD').hide();
            $('#ModelD').hide();
            $('#ModelYearD').hide();
            $('#CondD').hide();
            $('#PayError').hide();

            $("#SubCategoryId").on("change", function () {
                var ar = $('#SubCategoryId').select2('data');
                var da = ar[0].id
                if (da > 0) {
                    $('#ManufacD').show();
                }
            });

            $("#Color").on("change", function () {
                var ar = $('#Color').select2('data');
                var da = ar[0].id
                if (da != null) {
                    $('#CondD').show();
                }
            });

            $("#MakePayShow #ShowroomID").change(function () {
                var ShowroomId = $(this).val();
                $('#loader').show();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetShowroomData", "Portal")",
                    data: JSON.stringify({ ShowroomID: ShowroomId }),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        $('#loader').hide();
                        console.log(response);
                        $("#MakePayShow #ShowroomNumber").val(response.ShowroomNumber);
                        $("#MakePayShow #ShowroomAddress").val(response.ShowroomAddress);
                        $('#RecAmou').show();

                        if (response.RecievableDate != null || response.Balance > 0) {
                            if (response.RecievableDate.length > 0) {
                                $('#RecSec').show();
                                $("#MakePayShow #PBalance").val(response.Balance);
                                $('#RecievableDateD').empty();
                                for (var i = 0; i < response.RecievableDate.length; i++) {
                                    console.log(response.RecievableDate[i]);
                                    $('#RecievableDateD').append('<span style="background-color: #ff3838;padding: 0 6px;color: white;border: 1px solid #939393;border-radius: 4px;margin-right: 5px;padding-bottom: 2px; ">' + response.RecievableDate[i].Month + ' ' + response.RecievableDate[i].Year +'</span>');
                                }
                            }
                            else {
                                $("#MakePayShow #PBalance").val(response.Balance);
                            }
                        }
                        else {
                            $('#RecSec').hide();
                        }
                    }
                });
            })

            setInterval(function () {
                var a = $("#RecievedDate").val();
                if (a != undefined) {
                    if (a.length > 0) {
                    }
                    else {
                        $("#PayError").empty();
                        $("#PayError").hide();
                    }
                }

            }, 1000)

            $('#MakePayShow').submit(function () {
                var a = $("#RecievedDate").val();
                if (a.length > 0) {
                    if ($("#PayError").text() == "") {
                       return true;
                    }
                    else {
                       return false;
                    }
                }
                else {
                    return false;
                }
            });

            $('#RecievedDate').change(function () {
                var a = $("#RecievedDate").val();
                if (a.length > 0) {
                    var ShowroomId = $("#ShowroomID").val();
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("IsMonthExist", "Portal")",
                        data: JSON.stringify({ ShowroomID: ShowroomId, RecievedDate: a }),
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            console.log(response);
                            if (response == "") {
                                $("#PayError").empty();
                                $("#PayError").hide();
                            }
                            else {
                                $("#PayError").show();
                                $("#PayError").text(response);
                            }
                        }
                    });
                    if ($("#PayError").text() == "") {

                    }
                    else {
                        return false;
                    }
                }
                return true;
            });

            $("#ManufacturerCarModelID").on("change", function () {
                var ar = $('#ManufacturerCarModelID').select2('data');
                var da = ar[0].id
                if (da != null) {
                    $('#ModelYearD').show();
                }
            });

            $("#CategoryId").change(function () {
                var CategoryId = $(this).val();
                $.ajax({
                    type: "post",
                    url: "/Website/GetSubCategoryList?CategoryId=" + CategoryId,
                    contentType: "html",
                    success: function (response) {
                        $('#SubCategoryD').show();
                        $("#SubCategoryId").empty();
                        $("#SubCategoryId").append(response);
                    }
                })
            })

            $("#ManufacturerId").change(function () {
                var MakeId = $(this).val();
                $.ajax({
                    type: "post",
                    url: "/Website/GetModelsList?MakeId=" + MakeId,
                    contentType: "html",
                    success: function (response) {
                        $('#ModelD').show();
                        $("#ManufacturerCarModelID").empty();
                        $("#ManufacturerCarModelID").append(response);
                    }
                })
            })

            $('#postad').on("click", function () {
                var a = $(".uploaded")[0].children.length;
                if (a < 5) {
                    //alert("Minimum 5 images you need to upload");
                    var element = document.getElementsByClassName("image-uploader");
                    for (item of element) {
                        item.style.border = "1px solid #f16060";
                    }
                    $('html, body').animate({
                        scrollTop: $("#images-not").offset().top
                    }, 100);
                    return false;
                }
            });

            $('#Epostad').on("click", function () {
                document.getElementById("files").removeAttribute("required");
                var a = 0;
                var vale = ($(".uploaded")[1] == undefined) ? 0 : $(".uploaded")[1].children.length;
                var previousRemoved = JSON.parse(sessionStorage.getItem("DeletedFiles"));
                a = $(".uploaded")[0].children.length + vale;
                if (a < 5) {
                    //alert("Minimum 5 images you need to upload");
                    var element = document.getElementsByClassName("image-uploader");
                    for (item of element) {
                        item.style.border = "2px solid #f16060";
                    }
                    $('html, body').animate({
                        scrollTop: $("#images-not").offset().top
                    }, 100);
                    return false;
                }
                else if(previousRemoved != null){
                    ImageChangeData();
                }
            });

            function ImageChangeData() {
                var previousRemoved = JSON.parse(sessionStorage.getItem("DeletedFiles"));
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SetSession", "Portal")",
                    data: JSON.stringify({ RemovedImages: previousRemoved }),
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        console.log('ok');
                    }
                });
            }

            $('.delete-image1').on("click", function () {
                var previousRemoved = JSON.parse(sessionStorage.getItem("DeletedFiles"));
                var newValue = $(this).parent().closest('.uploaded-image').find("img")[0].attributes[0].textContent;
                $(this).parent().closest('.uploaded-image').remove();
                deletedFilesLst = [];
                if (previousRemoved != null) {
                    previousRemoved.push(newValue);
                    sessionStorage.setItem('DeletedFiles', JSON.stringify(previousRemoved));
                }
                else {
                    deletedFilesLst.push(newValue);
                    sessionStorage.setItem('DeletedFiles', JSON.stringify(deletedFilesLst));
                }
            });

            setInterval(function myfunction() {
                var IsClassPresent = $("body").find('.uploaded').length;
                if (IsClassPresent > 0) {
                    var a = 0;
                    var vale = ($(".uploaded")[1] == undefined) ? 0 : $(".uploaded")[1].children.length;
                    a = $(".uploaded")[0].children.length + vale;
                    if (a >= 5) {
                        var element = document.getElementsByClassName("image-uploader");
                        for (item of element) {
                            item.style.border = "1px solid #ededed";
                        }
                    }
                }
            }, 1);

            // SignalR js code for start hub and send receive notification
            var notificationHub = $.connection.notificationHub;
            $.connection.hub.start().done(function () {
                console.log('Notification hub started');
            });

            //SignalR method for push server message to client
            notificationHub.client.DisplayNoti = function (message) {
                if (message && message.toLowerCase() == "added") {
                    console.log('Hey Notifications!!');
                    updateNotificationCount();
                    AccupdateNotificationCount();
                    AppntupdateNotificationCount();
                }
            }

            //notificationHub.client.DisplayAnno = function (message) {
            //    if (message && message.toLowerCase() == "announcementadded") {
            //        console.log('Hey announcement Count');
            //    }
            //}

            //setInterval(function myfunction() {
            //    AppntupdateNotificationCount()
            //}, 1000);

            updateNotification();
            GetCount();
            updateNotificationCount();
            AccupdateNotification();
            AccGetCount();
            AccupdateNotificationCount();
            AppntupdateNotification();
            AppntGetCount();
            AppntupdateNotificationCount();

            $('a.Accnoti').click(function (e) {
                e.stopPropagation();
                var count = 0;
                count = parseInt($('span.Acccount').html()) || 0;
                console.log('a.Accnoti outer' + count);

                //Only load Accnotification if not already loaded
                if (count > 0) {
                    AccupdateNotification();
                    sessionStorage.setItem("Acccount", 0);
                    console.log('a.Accnoti inner if' + count);
                    $('.Accnoti-content').show();
                    AccupdateNotificationRead();
                }
                else if ($('.Accnoti-content').css('display') == 'block') {
                    $('.Accnoti-content').hide();
                }
                else if ($('.Accnoti-content').css('display') == 'none') {
                    $('.Accnoti-content').show();
                    //AccupdateNotificationRead();
                }
                $('span.Acccount', this).html('');
            })

            // Hide Accnotifications
            $('html').click(function () {
                $('.Accnoti-content').hide();
            })

            $('a.Appntnoti').click(function (e) {
                e.stopPropagation();
                var count = 0;
                count = parseInt($('span.Appntcount').html()) || 0;
                console.log('a.Appntnoti outer' + count);

                //Only load Appntnotification if not already loaded
                if (count > 0) {
                    AppntupdateNotification();
                    sessionStorage.setItem("Appntcount", 0);
                    console.log('a.Appntnoti inner if' + count);
                    $('.Appntnoti-content').show();
                    AppntupdateNotificationRead();
                }
                else if ($('.Appntnoti-content').css('display') == 'block') {
                    $('.Appntnoti-content').hide();
                }
                else if ($('.Appntnoti-content').css('display') == 'none') {
                    $('.Appntnoti-content').show();
/*                    AppntupdateNotificationRead();*/
                }
                $('span.Appntcount', this).html('');
            })

            // Hide Appntnotifications
            $('html').click(function () {
                $('.Appntnoti-content').hide();
            })

            $('a.noti').click(function (e) {
                e.stopPropagation();
                var count = 0;
                count = parseInt($('span.count').html()) || 0;
                console.log('a.noti outer' + count);

                //Only load notification if not already loaded
                if (count > 0) {
                    updateNotification();
                    sessionStorage.setItem("count", 0);
                    console.log('a.noti inner if' + count);
                    $('.noti-content').show();
                    updateNotificationRead();
                }
                else if ($('.noti-content').css('display') == 'block') {
                    $('.noti-content').hide();
                }
                else if ($('.noti-content').css('display') == 'none') {
                    $('.noti-content').show();
                    //updateNotificationRead();
                }
                $('span.count', this).html('');
            })

            // Hide notifications
            $('html').click(function () {
                $('.noti-content').hide();
            })

        });

        function AccGetCount() {
            var count = sessionStorage.getItem("Acccount");
            console.log('a.Accnoti outer' + count);

            if (count > 0) {
                $('span.Acccount').html(count);
            }
            else {
                $('span.Acccount', this).html('');
            }
        }

        // Update Accnotification
        function AccupdateNotification() {
            $('#AccnotiContent').empty();
            $('#AccnotiContent').append($('<li>Loading...</li>'));
            $.ajax({
                type: 'GET',
                url: '/Portal/GetAnnouncementsList',
                success: function (response) {
                    $('#AccnotiContent').empty();
                    console.log(response);
                    if (response.length == 0) {
                        $('#AccnotiContent').append($('<a href="#" class="dropdown-item"><i class="fas fa-envelope mr-2"></i> No New Announcement Available</a>'));
                    }
                    $.each(response, function (index, value) {
                        $('#AccnotiContent').append($('<span href="#" class="dropdown-item"> <i class="fas fa-envelope mr-2"></i>' + value.Title + ' <span class="float-right text-muted text-sm">' + value.Description+'</span></span>'));
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

        // Update Accnotification count
        function AccupdateNotificationCount() {
            var count = 0;
            $.ajax({
                type: 'GET',
                url: '/Portal/GetAnnouncementsListCount',
                success: function (response) {
                    console.log('GetNotificationsListCount:: ' + response);
                    count = response;
                    if (count > 0) {
                        $('span.Acccount').html(count);
                        var Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        Toast.fire({
                            icon: 'warning',
                            title: 'New Announcement!',
                            footer: '<a href="/Portal/NotificationList">See all Announcement</a>'
                        })
                    }
                    else {
                        $('span.Acccount').html('');
                    }
                    console.log('AccupdateNotificationCount' + count);
                    sessionStorage.setItem("Acccount", count);
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

        // Notifications Change to Read When NotiFication Icon Press
        function AccupdateNotificationRead() {
            $.ajax({
                type: 'GET',
                url: '/Portal/ChangeAnnouncementsToAsRead',
                success: function (response) {
                    console.log('AccGetNotificationsListRead:: ' + response);
                    sessionStorage.setItem("Acccount", 0);
                },
                error: function (error) {
                    console.log(error);
                }
            })
            }

        function AppntGetCount() {
            var count = sessionStorage.getItem("Appntcount");
            console.log('a.Appntnoti outer' + count);

            if (count > 0) {
                $('span.Appntcount').html(count);
            }
            else {
                $('span.Appntcount', this).html('');
            }
        }

        // Update Appntnotification
            function AppntupdateNotification() {
                $('#AppntnotiContent').empty();
                $('#AppntnotiContent').append($('<li>Loading...</li>'));
                $.ajax({
                    type: 'GET',
                    url: '/Portal/GetShowroomAppointmentsList',
                    success: function (response) {
                        $('#AppntnotiContent').empty();
                        console.log(response);
                        if (response.length == 0) {
                            $('#AppntnotiContent').append($('<a href="#" class="dropdown-item"><i class="fas fa-envelope mr-2"></i> No New Appointment Available</a>'));
                        }
                        $.each(response, function (index, value) {
                            if (value.AdURL == "false") {
                                $('#AppntnotiContent').append($('<span href="#" class="dropdown-item" style="white-space: pre-line;"> <i class="fas fa-envelope mr-2"></i> ' + value.Title + value.Description + '<span style="display:flex;align-items:center;justify-content: space-evenly;"><span class="btn btn-sm btn-info" style="padding: 0.25rem 4rem !important;" onclick="AppntDetls(' + value.AdURL + ')">View Details</span></span></span>'));
                            }
                            else {
                                $('#AppntnotiContent').append($('<span href="#" class="dropdown-item" style="white-space: pre-line;"> <i class="fas fa-envelope mr-2"></i>' + value.Title + value.Description + '<span style="display:flex;align-items:center;justify-content: space-evenly;"><span class="btn btn-sm btn-info" style="padding: 0.25rem 4rem !important;" onclick="AppntDetls(' + value.AdURL + ')">View Details</span></span></span>'));
                            }
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }

            // Update Appntnotification count
            function AppntupdateNotificationCount() {
                var count = 0;
                $.ajax({
                    type: 'GET',
                    url: '/Portal/GetShowroomAppointmentsListCount',
                    success: function (response) {
                        count = response;
                        if (count > 0) {
                            $('span.Appntcount').html(count);
                        }
                        else {
                            $('span.Appntcount').html('');
                        }
                        sessionStorage.setItem("Appntcount", count);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }

            function AppntDetls(id) {
                var AppntID = id;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetShowroomAppointmentById", "Portal")",
                    data: JSON.stringify({ id: AppntID }),
                    contentType: "application/json; charset=utf-8",
                    success: function (resp) {
                        console.log(resp);
                        $("#MUser").text(resp.FromUserName)
                        $("#MPosted").text(resp.Date)
                        $("#MCar").text(resp.Title)
                        $("#MDate").text(resp.Time)
                        $("#MDescp").text(resp.Description)
                        $("#MPhone").text(resp.PhoneNumber)
                        $("#MAd").attr("href","/Ads/"+resp.AdURL)
                        $('#exampleModal').modal('show')
                    }
                });
            }

            function RejectAppnt() {
                $.ajax({
                    type: 'GET',
                    url: '/Portal/ShowroomAppointmentReject',
                    success: function (response) {
                        $('#exampleModal').modal('hide');
                        var Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });
                        if (response) {
                            Toast.fire({
                                icon: 'success',
                                title: 'Appointment hase been Rejected Succesfully!'
                            });
                            AppntupdateNotification();
                        }
                        else {
                            Toast.fire({
                                icon: 'error',
                                title: 'Something went wrong. Please try again Later!'
                            })
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }

            function AccAppnt() {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AcceptShowroomAppointment", "Portal")",
                    data: JSON.stringify({ IsAppntDel: false }),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        $('#exampleModal').modal('hide');
                        var Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });
                        if (response) {
                            Toast.fire({
                                icon: 'success',
                                title: 'Appointment hase been Scheduled Succesfully!'
                            });
                            AppntupdateNotification();
                        }
                        else {
                            Toast.fire({
                                icon: 'error',
                                title: 'Something went wrong. Please try again Later!'
                            })
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }

            function SndAppnt() {
                var Message = $("#message-text").val();
                var AppntDate = $("#DateAppnt").val();
                if (Message == "" || AppntDate == null) {
                    alert("Please select the Date\Time and Message!");
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("AcceptShowroomAppointment", "Portal")",
                        data: JSON.stringify({ Purpose: Message, Date: AppntDate ,IsAppntDel: true }),
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            $('#exampleModal').modal('hide');
                            var Toast = Swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });
                            if (response) {
                                Toast.fire({
                                    icon: 'success',
                                    title: 'Appointment hase been Scheduled Succesfully!'
                                });
                                AppntupdateNotification();
                            }
                            else {
                                Toast.fire({
                                    icon: 'error',
                                    title: 'Something went wrong. Please try again Later!'
                                })
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                }
            }

            // Notifications Change to Read When NotiFication Icon Press
            function AppntupdateNotificationRead() {
                $.ajax({
                    type: 'GET',
                    url: '/Portal/ChangeShowroomAppointmentsToAsRead',
                    success: function (response) {
                        console.log('AppntGetAppointmentListRead:: ' + response);
                        sessionStorage.setItem("Appntcount", 0);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }

            function GetCount() {
                var count = sessionStorage.getItem("count");
                console.log('a.noti outer' + count);

                if (count > 0) {
                    $('span.count').html(count);
                }
                else {
                    $('span.count', this).html('');
                }
            }

            // Update notification
            function updateNotification() {
                $('#notiContent').empty();
                $('#notiContent').append($('<li>Loading...</li>'));
                $.ajax({
                    type: 'GET',
                    url: '/Portal/GetNotificationsList',
                    success: function (response) {
                        $('#notiContent').empty();
                        console.log(response);
                        if (response.length == 0) {
                            $('#notiContent').append($('<a href="#" class="dropdown-item"><i class="fas fa-envelope mr-2"></i> No New Notification Available</a>'));
                        }
                        $.each(response, function (index, value) {
                            $('#notiContent').append($('<span href="#" class="dropdown-item"> <i class="fas fa-envelope mr-2"></i>' + value.Title + ' <span class="float-right text-muted text-sm"> <a href="/Ad/'+value.AdURL+'" target="_blank">View Ad</a></span></span>'));
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }

        // Update notification count
        function updateNotificationCount() {
            var count = 0;
            $.ajax({
                type: 'GET',
                url: '/Portal/GetNotificationsListCount',
                success: function (response) {
                    console.log('GetNotificationsListCount:: ' + response);
                    count = response;
                    if (count > 0) {
                        $('span.count').html(count);
                    }
                    else {
                        $('span.count').html('');
                    }
                    console.log('updateNotificationCount' + count);
                    sessionStorage.setItem("count", count);
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

        // Notifications Change to Read When NotiFication Icon Press
        function updateNotificationRead() {
            $.ajax({
                type: 'GET',
                url: '/Portal/ChangeNotificationToAsRead',
                success: function (response) {
                    console.log('GetNotificationsListRead:: ' + response);
                    sessionStorage.setItem("count", 0);
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

        var loadProfile = function (event) {
            var files = event.target.files;
            for (var i = 0; i < files.length; i++) {
                $("#dynamicImage").attr("src", URL.createObjectURL(event.target.files[i]));
            }
        }

        $(document).ready(function () {
            $('#choose-file').change(function () {
                var i = $(this).prev('label').clone();
                var file = $('#choose-file')[0].files[0].name;
                $(this).prev('label').text(file);
            });
        });

        </script>
    </body>
}
</html>
