<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Files/css/bootstrap.css" rel="stylesheet">
    <link href="~/Files/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/Files/css/iconmoon.css" rel="stylesheet">
    <link href="~/Files/css/chosen.css" rel="stylesheet">
    <link href="~/style.css" rel="stylesheet">
    <link href="~/cs-automobile-plugin.css" rel="stylesheet">
    <link href="~/Files/css/color.css" rel="stylesheet">
    <link href="~/Files/css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href="~/Files/css/bootstrap-slider.css" rel="stylesheet">
    <link href="~/Files/css/widget.css" rel="stylesheet">
    <link href="~/Files/css/responsive.css" rel="stylesheet">
    <!-- <link href="~/Files/css/bootstrap-rtl.css" rel="stylesheet"> Uncomment it if needed! -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <script src="~/Files/scripts/jquery.js"></script>
    <script src="~/Files/scripts/modernizr.js"></script>
    <script src="~/Files/scripts/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/dist/image-uploader.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <style>
        .select2-results__option--selectable {
            list-style: none !important;
        }

        .select2-container {
            width: 100% !important;
        }

        #pass-validate {
            LINE-HEIGHT: 12px !important;
            margin-top: 8px !important;
            padding: 0 !important;
        }

            #pass-validate:hover {
                background: none !important;
            }

        .text-danger {
            color: #dc3545 !important;
            font-size: 14px !important;
        }

        .separator-hr {
            display: flex;
            align-items: center;
            text-align: center;
            color: #818181;
            font-weight: 700;
            margin: 0 8rem;
        }

            .separator-hr::before,
            .separator-hr::after {
                content: '';
                flex: 1;
                border-bottom: 1px solid #dfdfdf;
            }

            .separator-hr:not(:empty)::before {
                margin-right: .25em;
            }

            .separator-hr:not(:empty)::after {
                margin-left: .25em;
            }

        .loaderStyle {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            padding-right: 48px;
            cursor: not-allowed;
        }

        .dynamicImage {
            height: 150px !important;
            width: 150px !important;
            margin: 10px !important;
            border: 2px solid #ededed !important;
        }

        #dynamicImage {
            background: #f8f8f8;
            border: 1px solid #ededed;
            border-radius: 2px;
        }

        #divLoader {
            position: absolute;
            background: #fbfbfb96;
            z-index: 100000;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: not-allowed;
            margin-top: -13rem;
        }

        @@media screen and (min-device-width: 390px) and (max-device-width: 625px) {
            #divLoader {
                position: absolute;
                background: #fbfbfb96;
                z-index: 100000;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: not-allowed;
                margin-top: -17rem;
            }
        }

        @@media screen and (min-device-width: 310px) and (max-device-width: 389px) {
            #divLoader {
                position: absolute;
                background: #fbfbfb96;
                z-index: 100000;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: not-allowed;
                margin-top: -19rem;
            }
        }

        @@media screen and (min-device-width: 280px) and (max-device-width: 309px) {
            #divLoader {
                position: absolute;
                background: #fbfbfb96;
                z-index: 100000;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: not-allowed;
                margin-top: -26rem;
            }
        }

        #map_canvas {
            height: 100%;
        }

        .select2-container--default .select2-results__option--disabled {
            list-style: none !important;
        }

        .select2-container--open .select2-dropdown--below {
            background: #f8f8f8 !important;
            box-shadow: none !important;
            border: 1px solid #ededed !important;
            border-top: 0 !important;
            padding: 0 10px !important;
        }

        .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
            background-color: #d00000 !important;
            color: white;
        }

        .select2-results__option {
            user-select: none !important;
            padding: 2px 6px !important;
        }

        .select2-results__options {
            list-style: none !important;
            margin: 0 !important;
            padding: 8px 6px !important;
        }

        .select2-container--default .select2-results > .select2-results__options {
            font-size: 13px !important;
        }

        .select2-container--default .select2-selection--single {
            height: 43px !important;
            text-transform: none !important;
            background-color: #f8f8f8 !important;
            border: 1px solid #ededed;
            color: #666 !important;
            font-size: 13px !important;
            line-height: 20px !important;
            padding: 6px 12px !important;
            border-radius: 0 !important;
            box-shadow: none !important;
            margin: 0 !important;
        }

            .select2-container--default
            .select2-selection--single
            .select2-selection__arrow b {
                height: 0 !important;
                left: 0 !important;
                margin-left: -4px !important;
                border: solid #bfbfbf !important;
                border-width: 0 2px 2px 0 !important;
                display: inline-block !IMPORTANT;
                padding: 4px !IMPORTANT;
                transform: rotate(45deg) !IMPORTANT;
                margin-top: -2px !IMPORTANT;
                position: absolute !IMPORTANT;
                top: 50% !IMPORTANT;
                width: 0 !IMPORTANT;
            }
    </style>
</head>
<body class="wp-automobile">
    <div class="wrapper">
        <!-- Header Start -->
        @Html.Partial("_WebHeader")
        <!-- Header End -->
        <!-- Main Start -->
        <div class="main-section">
            @RenderBody()
        </div>
        <!-- Main End -->
        <!-- Footer Start -->
        @Html.Partial("_WebFooter")
        <!-- Footer End -->
    </div>
    <script src="~/Files/scripts/responsive.menu.js"></script>
    <script src="~/Files/scripts/chosen.select.js"></script>
    <script src="~/Files/scripts/slick.js"></script>
    <script src="~/Files/scripts/bootstrap-slider.js"></script>
    <script src="~/Files/scripts/echo.js"></script>
    <script src="~/Files/scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Put all Functions in functions.js -->
    <script src="~/Files/scripts/functions.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3x0O6BzuvZIQIoypSGe4uAcocdABrL2I&sensor=false"></script>
    <script type="text/javascript" src="~/dist/image-uploader.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log("ready!");
            var CallTimeOut;
            //$('#CategoryName').show();
            //$('#SubCategoryD').hide();
            //$('#ManufacD').hide();
            //$('#ModelD').hide();
            //$('#ModelYearD').hide();
            //$('#CondD').hide();
            //$('#StateD').hide();
            //$('#CityD').hide();
            //$('#AreaD').hide();
            //function checkforText(requiredText) {
            //    $("#EndYear_chosen .chosen-drop .chosen-results li").each((id, elem) => {
            //        if (elem.innerText == requiredText) {
            //            elem.className += " result-selected";
            //        }
            //    });
            //}

            //var TodayYear = new Date().getFullYear();
            //checkforText(TodayYear);

            function PriceChangeData() {
                var priceRange = $("#price").val();
                console.log(priceRange);
                var myArr = priceRange.split`,`.map(x => +x);
                var minimum = myArr[0];
                var maximum = myArr[1];
                var SortBy = $("#SortByVehicle").find(':selected').val();
                var search = $('#searchTerm_TxtBox').val();
                /*
                 * Uncomment this lines only if you need to filter the Ads According to State, City and Area
                var ZoneNameListVal = null;
                ZoneNameListVal = [];
                var CityListVal = null;
                CityListVal = [];
                var state = $("input[name='StateRR']:checked").val();

                $("input[name='CityListChkBox']:checked").each(function () {
                    CityListVal.push($(this).attr('value'));
                });

                $("input[name='ZoneListChkBox']:checked").each(function () {
                    ZoneNameListVal.push($(this).attr('value'));
                });
                */

                var makeId = $("input[name = 'MakeRR']:checked").val();
                var ModelNameListVal = null;
                ModelNameListVal = [];

                $("input[name='ModelListChkBox']:checked").each(function () {
                    ModelNameListVal.push($(this).attr('value'));
                });
                var condi = $("input[name = 'ConditionRR']:checked").val();
                var startYear = $("#StartYear").find(':selected').val();
                var endYear = $("#EndYear").find(':selected').val();
                var maxYear = (endYear >= startYear) ? endYear : startYear;
                var miniYear = (endYear <= startYear) ? endYear : startYear;
                var ColorNameListVal = null;
                ColorNameListVal = [];

                $("input[name='ColorListChkBox']:checked").each(function () {
                    ColorNameListVal.push($(this).attr('value'));
                });
                var TransNameListVal = null;
                TransNameListVal = [];

                $("input[name='TransListChkBox']:checked").each(function () {
                    TransNameListVal.push($(this).attr('value'));
                });

                console.log("Search Term Val:" + search);
                $("#divLoader").show();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetAds", "Website")",
                    data: JSON.stringify({ searchTerm: search, sortBy: SortBy, MakeId: makeId, ModelId: ModelNameListVal, maximumPrice: maximum, minimumPrice: minimum, Condition: condi, StartYear: miniYear, EndYear: maxYear, ColorSelected: ColorNameListVal, TransSelected: TransNameListVal }),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        $("#divLoader").hide();
                        $("#VehicleAdsLst").html(response);
                    }
                });
            }

            $("#price").change(function () {
                clearTimeout(CallTimeOut);
                CallTimeOut = setTimeout(PriceChangeData, 1000);
            });


            $('#SortByVehicle').change(function () {
                var SelectedOption = $(this).find(':selected').val();
                var search = $('#searchTerm_TxtBox').val();
                var priceRange = $("#price").val();
                console.log(priceRange);
                var myArr = priceRange.split`,`.map(x => +x);
                var minimum = myArr[0];
                var maximum = myArr[1];

                /*
                * Uncomment this lines only if you need to filter the Ads According to State, City and Area
                var ZoneNameListVal = null;
                ZoneNameListVal = [];
                var CityListVal = null;
                CityListVal = [];
                var state = $("input[name='StateRR']:checked").val();

                $("input[name='CityListChkBox']:checked").each(function () {
                    CityListVal.push($(this).attr('value'));
                });

                $("input[name='ZoneListChkBox']:checked").each(function () {
                    ZoneNameListVal.push($(this).attr('value'));
                });
                */

                var makeId = $("input[name = 'MakeRR']:checked").val();
                var ModelNameListVal = null;
                ModelNameListVal = [];

                $("input[name='ModelListChkBox']:checked").each(function () {
                    ModelNameListVal.push($(this).attr('value'));
                });
                console.log("Selected Val:" + SelectedOption);
                console.log("Search Term Val:" + search);
                var condi = $("input[name = 'ConditionRR']:checked").val();
                var startYear = $("#StartYear").find(':selected').val();
                var endYear = $("#EndYear").find(':selected').val();
                var maxYear = (endYear >= startYear) ? endYear : startYear;
                var miniYear = (endYear <= startYear) ? endYear : startYear;
                var ColorNameListVal = null;
                ColorNameListVal = [];

                $("input[name='ColorListChkBox']:checked").each(function () {
                    ColorNameListVal.push($(this).attr('value'));
                });
                var TransNameListVal = null;
                TransNameListVal = [];

                $("input[name='TransListChkBox']:checked").each(function () {
                    TransNameListVal.push($(this).attr('value'));
                });

                $("#divLoader").show();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetAds", "Website")",
                    data: JSON.stringify({ searchTerm: search, sortBy: SelectedOption, MakeId: makeId, ModelId: ModelNameListVal, maximumPrice: maximum, minimumPrice: minimum, Condition: condi, StartYear: miniYear, EndYear: maxYear, ColorSelected: ColorNameListVal, TransSelected: TransNameListVal }),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        $("#divLoader").hide();
                        $("#VehicleAdsLst").html(response);
                    }
                });
            });

            //$(document).on("click", "#ContentPager a[href]", function () {
            //    $("#divLoader").show();
            //    var priceRange = $("#price").val();
            //    console.log(priceRange);
            //    var myArr = priceRange.split`,`.map(x => +x);
            //    var minimum = myArr[0];
            //    var maximum = myArr[1];
            //    var pageno = $(this).text();
            //    console.log("Page No:" + pageno);
            //    var SortBy = $("#SortByVehicle").find(':selected').val();
            //    console.log("SortBY Val from pager:" + SortBy);
            //    var search = $('#searchTerm_TxtBox').val();
            //    var startYear = $("#StartYear").find(':selected').val();
            //    var endYear = $("#EndYear").find(':selected').val();
            //    /*
            //     * Uncomment this lines only if you need to filter the Ads According to State, City and Area
            //    var ZoneNameListVal = null;
            //    ZoneNameListVal = [];
            //    var CityListVal = null;
            //    CityListVal = [];
            //    var state = $("input[name='StateRR']:checked").val();

            //    $("input[name='CityListChkBox']:checked").each(function () {
            //        CityListVal.push($(this).attr('value'));
            //    });

            //    $("input[name='ZoneListChkBox']:checked").each(function () {
            //        ZoneNameListVal.push($(this).attr('value'));
            //    });
            //    */

            //    var makeId = $("input[name = 'MakeRR']:checked").val();
            //    var ModelNameListVal = null;
            //    ModelNameListVal = [];

            //    $("input[name='ModelListChkBox']:checked").each(function () {
            //        ModelNameListVal.push($(this).attr('value'));
            //    });
            //    var condi = $("input[name = 'ConditionRR']:checked").val();
            //    var maxYear = (endYear >= startYear) ? endYear : startYear;
            //    var miniYear = (endYear <= startYear) ? endYear : startYear;
            //    var ColorNameListVal = null;
            //    ColorNameListVal = [];

            //    $("input[name='ColorListChkBox']:checked").each(function () {
            //        ColorNameListVal.push($(this).attr('value'));
            //    });
            //    var TransNameListVal = null;
            //    TransNameListVal = [];

            //    $("input[name='TransListChkBox']:checked").each(function () {
            //        TransNameListVal.push($(this).attr('value'));
            //    });

            //    console.log(search);
            //    console.log("Attr: " + $(this).attr("href"));
            //    $.ajax({
            //        url: $(this).attr("href"),
            //        type: 'POST',
            //        data: JSON.stringify({ sortBy: SortBy, page: pageno, searchTerm: search, MakeId: makeId, ModelId: ModelNameListVal, maximumPrice: maximum, minimumPrice: minimum, Condition: condi, StartYear: miniYear, EndYear: maxYear, ColorSelected: ColorNameListVal, TransSelected: TransNameListVal }),
            //        contentType: "application/json; charset=utf-8",
            //        success: function (resp) {
            //            $("#divLoader").hide();
            //            $("#VehicleAdsLst").html(resp);
            //        }
            //    });
            //    return false;
            //});

        //    $('#AdsSearchForm').submit(function () {
        //        var search = $('#searchTerm_TxtBox').val();
        //        $("#divLoader").show();
        //        debugger;
        //        $.ajax({
        //            type: "post",
        //            url: "/Website/GetAds",
        //            data: {
        //                searchTerm: search
        //            },
        //            contentType: "application/json; charset=utf-8",
        //            success: function (response) {
        //                $("#divLoader").hide();
        //                $("#VehicleAdsLst").html(response);
        //            }
        //        });
        //    });

        //    $("#CategoryName").on("change", function () {
        //        console.log("CategoryName change");
        //        var ar = $('#CategoryName').select2('data');
        //        var da = ar[0].id
        //        if (da > 0) {
        //            $('[aria-labelledby="select2-CategoryName-container"]').css('border', '1px solid #ededed');
        //            $('#CategoryName').removeClass("input-validation-error");
        //            $('#SubCategoryD').show();
        //        }
        //        else {
        //            $('[aria-labelledby="select2-CategoryName-container"]').css('border', '1px solid #f16060');
        //        }
        //    });

        //    $("#SubCategoryName").on("change", function () {
        //        console.log("SubCategoryName change");
        //        var ar = $('#SubCategoryName').select2('data');
        //        var da = ar[0].id
        //        if (da > 0) {
        //            $('[aria-labelledby="select2-SubCategoryName-container"]').css('border', '1px solid #ededed');
        //            $('#SubCategoryName').removeClass("input-validation-error");
        //            $('#ManufacD').show();
        //        }
        //        else {
        //            $('[aria-labelledby="select2-SubCategoryName-container"]').css('border', '1px solid #f16060');
        //        }
        //    });

        //    $("#Manufacturer_Name").on("change", function () {
        //        console.log("Manufacturer_Name change");
        //        var ar = $('#Manufacturer_Name').select2('data');
        //        var da = ar[0].id
        //        if (da > 0) {
        //            $('[aria-labelledby="select2-Manufacturer_Name-container"]').css('border', '1px solid #ededed');
        //            $('#Manufacturer_Name').removeClass("input-validation-error");
        //            $('#ModelD').show();
        //        }
        //        else {
        //            $('[aria-labelledby="select2-Manufacturer_Name-container"]').css('border', '1px solid #f16060');
        //        }
        //    });

        //    $("#Manufacturer_CarModelName").on("change", function () {
        //        console.log("Manufacturer_CarModelName change");
        //        var ar = $('#Manufacturer_CarModelName').select2('data');
        //        var da = ar[0].id
        //        if (da > 0) {
        //            $('[aria-labelledby="select2-Manufacturer_CarModelName-container"]').css('border', '1px solid #ededed');
        //            $('#Manufacturer_CarModelName').removeClass("input-validation-error");
        //            $('#ModelYearD').show();
        //        }
        //        else {
        //            $('[aria-labelledby="select2-Manufacturer_CarModelName-container"]').css('border', '1px solid #f16060');
        //        }
        //    });

        //    $("#Year").on("change", function () {
        //        console.log("Year change");
        //        var ar = $('#Year').select2('data');
        //        var da = ar[0].id
        //        if (da > 0) {
        //            $('[aria-labelledby="select2-Year-container"]').css('border', '1px solid #ededed');
        //            $('#Year').removeClass("input-validation-error");
        //            $('#CondD').show();
        //        }
        //        else {
        //            $('[aria-labelledby="select2-Year-container"]').css('border', '1px solid #f16060');
        //        }
        //    });

        //    $("#Condition").on("change", function () {
        //        console.log("Condition change");
        //        var ar = $('#Condition').select2('data');
        //        var da = ar[0].id
        //        if (da > 0) {
        //            $('[aria-labelledby="select2-Condition-container"]').css('border', '1px solid #ededed');
        //            $('#Condition').removeClass("input-validation-error");
        //            $('#StateD').show();
        //        }
        //        else {
        //            $('[aria-labelledby="select2-Condition-container"]').css('border', '1px solid #f16060');
        //        }
        //    });

        //    $("#State").on("change", function () {
        //        console.log("State change");
        //        var ar = $('#State').select2('data');
        //        var da = ar[0].id
        //        if (da > 0) {
        //            $('[aria-labelledby="select2-State-container"]').css('border', '1px solid #ededed');
        //            $('#State').removeClass("input-validation-error");
        //            $('#CityD').show();
        //        }
        //        else {
        //            $('[aria-labelledby="select2-State-container"]').css('border', '1px solid #f16060');
        //        }
        //    });

        //    $("#City").on("change", function () {
        //        console.log("City change");
        //        var ar = $('#City').select2('data');
        //        var da = ar[0].id
        //        if (da > 0) {
        //            $('[aria-labelledby="select2-City-container"]').css('border', '1px solid #ededed');
        //            $('#City').removeClass("input-validation-error");
        //            $('#AreaD').show();
        //        }
        //        else {
        //            $('[aria-labelledby="select2-City-container"]').css('border', '1px solid #f16060');
        //        }
        //    });

        //    $("#Area").on("change", function () {
        //        console.log("Area change");
        //        var ar = $('#Area').select2('data');
        //        var da = ar[0].id
        //        if (da > 0) {
        //            $('[aria-labelledby="select2-Area-container"]').css('border', '1px solid #ededed');
        //            $('#Area').removeClass("input-validation-error");
        //        }
        //        else {
        //            $('[aria-labelledby="select2-Area-container"]').css('border', '1px solid #f16060');
        //        }
        //    });

        //    $('.input-images-1').imageUploader();
        //    //$('#postvehicle').bind("click", function () {
        //    //    var imgVal = $('#files').val();
        //    //    if (imgVal == '') {
        //    //        var element = document.getElementsByClassName("image-uploader");
        //    //        for (item of element) {
        //    //            item.style.border = "2px solid #f16060";
        //    //        }
        //    //        $('html, body').animate({
        //    //            scrollTop: $("#images-not").offset().top
        //    //        }, 100);
        //    //        return false;
        //    //    }
        //    //});

        //    $('#postvehicle').on("click", function () {
        //        Validations();
        //        var a = $(".uploaded")[0].children.length;
        //        if (a < 5) {
        //            //alert("Minimum 5 images you need to upload");
        //            var element = document.getElementsByClassName("image-uploader");
        //            for (item of element) {
        //                item.style.border = "2px solid #f16060";
        //            }
        //        }
        //    });

        //    setInterval(function myfunction() {
        //        Validations();
        //        var IsClassPresent = $("body").find('.uploaded').length;
        //        if (IsClassPresent > 0) {
        //            var a = $(".uploaded")[0].children.length;
        //            if (a >= 5) {
        //                var element = document.getElementsByClassName("image-uploader");
        //                for (item of element) {
        //                    item.style.border = "1px solid #ededed";
        //                }
        //            }
        //        }
        //    },1);

        //    function Validations() {
        //        var year = $('#Year').hasClass('input-validation-error');
        //        var condi = $('#Condition').hasClass('input-validation-error');
        //        var state = $('#State').hasClass('input-validation-error');
        //        var city = $('#City').hasClass('input-validation-error');
        //        var arr = $('#Area').hasClass('input-validation-error');
        //        var category = $('#CategoryName').hasClass('input-validation-error');
        //        var subcategory = $('#SubCategoryName').hasClass('input-validation-error');
        //        var manufacturer = $('#Manufacturer_Name').hasClass('input-validation-error');
        //        var CarModel = $('#Manufacturer_CarModelName').hasClass('input-validation-error');
        //        if (category == true) {
        //            $('[aria-labelledby="select2-CategoryName-container"]').css('border', '1px solid #f16060');
        //        }
        //        else if (subcategory == true) {
        //            $('[aria-labelledby="select2-SubCategoryName-container"]').css('border', '1px solid #f16060');
        //        }
        //        else if (manufacturer == true) {
        //            $('[aria-labelledby="select2-Manufacturer_Name-container"]').css('border', '1px solid #f16060');
        //        }
        //        else if (CarModel == true) {
        //            $('[aria-labelledby="select2-Manufacturer_CarModelName-container"]').css('border', '1px solid #f16060');
        //        }
        //        else if (year == true) {
        //            $('[aria-labelledby="select2-Year-container"]').css('border', '1px solid #f16060');
        //        }
        //        else if (condi == true) {
        //            $('[aria-labelledby="select2-Condition-container"]').css('border', '1px solid #f16060');
        //        }
        //        else if (state == true) {
        //            $('[aria-labelledby="select2-State-container"]').css('border', '1px solid #f16060');
        //        }
        //        else if (city == true) {
        //            $('[aria-labelledby="select2-City-container"]').css('border', '1px solid #f16060');
        //        }
        //        else if (arr == true) {
        //            $('[aria-labelledby="select2-Area-container"]').css('border', '1px solid #f16060');
        //        }
        //    }

        //    $("#State").change(function () {
        //        var StateId = $(this).val();
        //        $.ajax({
        //            type: "post",
        //            url: "/Website/GetCityList?StateId=" + StateId,
        //            contentType: "html",
        //            success: function (response) {
        //                $("#City").empty();
        //                $("#Area").empty();
        //                $("#City").append(response);
        //            }
        //        })
        //    })

        //    $("#City").change(function () {
        //        var CityId = $(this).val();
        //        $.ajax({
        //            type: "post",
        //            url: "/Website/GetZoneList?CityId=" + CityId,
        //            contentType: "html",
        //            success: function (response) {
        //                $("#Area").empty();
        //                $("#Area").append(response);
        //            }
        //        })
        //    })

        //    $("#Manufacturer_Name").change(function () {
        //        var MakeId = $(this).val();
        //        $.ajax({
        //            type: "post",
        //            url: "/Website/GetModelsList?MakeId=" + MakeId,
        //            contentType: "html",
        //            success: function (response) {
        //                $("#Manufacturer_CarModelName").empty();
        //                $("#Manufacturer_CarModelName").append(response);
        //            }
        //        })
        //    })

        //    $("#CategoryName").change(function () {
        //        var CategoryId = $(this).val();
        //        $.ajax({
        //            type: "post",
        //            url: "/Website/GetSubCategoryList?CategoryId=" + CategoryId,
        //            contentType: "html",
        //            success: function (response) {
        //                $("#SubCategoryName").empty();
        //                $("#SubCategoryName").append(response);
        //            }
        //        })
        //    })

        //    $("#State").select2({
        //        selectOnClose: false
        //    });

        //    $("#City").select2({
        //        selectOnClose: false
        //    });

        //    $("#Area").select2({
        //        selectOnClose: false
        //    });

        //    $("#Year").select2({
        //        selectOnClose: false
        //    });

        //    $("#Condition").select2({
        //        selectOnClose: false
        //    });

        //    $("#Manufacturer_CarModelName").select2({
        //        selectOnClose: false
        //    });

        //    $("#Manufacturer_Name").select2({
        //        selectOnClose: false
        //    });

        //    $("#SubCategoryName").select2({
        //        selectOnClose: false
        //    });

        //    $("#CategoryName").select2({
        //        selectOnClose: false
        //    });

        });

        function fnSuccess() {
            window.location.href = "@Url.Action("SignIn", "Account")";
            SetTempData();
        }

        var loadProfile = function (event) {
            var files = event.target.files;
            for (var i = 0; i < files.length; i++) {
                $("#dynamicImage").attr("src", URL.createObjectURL(event.target.files[i]));
            }
        }

        var loadFile = function (event) {
            var files = event.target.files;
            for (var i = 0; i < files.length; i++) {
                $("#dynamicImage").append("<img src='" + URL.createObjectURL(event.target.files[i]) + "' class='dynamicImage' />")
            }
        }

        function SetTempData() {
            $.ajax({
                type: "POST",
                url: '/Account/SetTempData',
                data: '{ value: "Hurry! your Password is Reset..."}',
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (r) {
                    console.log(r);
                }
            });
        }

        $(".select-add-placeholder").prepend("<option value='0' disabled=\"disabled\" selected=\"selected\">Select an option...</option>");

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success);
        } else {
            alert("Geo Location is not supported on your current browser!");
        }

        function success(position) {
            var lat = position.coords.latitude;
            var long = position.coords.longitude;
            var city = position.coords.locality;
            var myLatlng = new google.maps.LatLng(lat, long);
            var myOptions = {
                center: myLatlng,
                zoom: 18,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            var marker = new google.maps.Marker({
                position: myLatlng,
                title: "lat: " + lat + " long: " + long
            });

            marker.setMap(map);
            var infowindow = new google.maps.InfoWindow({ content: "<b>User Address</b><br/> Latitude:" + lat + "<br /> Longitude:" + long + "" });
            infowindow.open(map, marker);
            var locateed = lat + ',' + long;
            document.getElementById('Latitude').value = lat;
            document.getElementById('Longitude').value = long;
            console.log(locateed);

            $.ajax({
                type: "GET",
                url: 'http://api.positionstack.com/v1/reverse?access_key=999ca5b65057c71dce4658b5ce195980&query=' + lat + '%' + long + '&limit=2',
                success: function (data) {
                    console.log(data.data);
                    data.data.forEach(function (arrayItem) {
                        var x = arrayItem.number;
                        var label = arrayItem.label;
                        if (x != null) {
                            console.log("Address: " + label);
                            document.getElementById('Address').value = label;
                        }
                    });
                }
            });
        }
    </script>
</body>

</html>
