
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="cs-logo">
                    <div class="cs-media">
                        <figure><a href="@Url.Action("Index","Website")"><img src="~/Files/images/cs-logo.png" alt="" /></a></figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <div class="cs-main-nav pull-left" style="width: -webkit-fill-available !important;">
                    <nav class="main-navigation">
                        <ul>
                            <li><a href="@Url.Action("Index","Website")">Home</a></li>
                            <li><a href="@Url.Action("AllVehicles","Website")">Car Ads</a></li>
                            <li>
                                <a href="@Url.Action("ShowroomDeal","Website")">Car Dealers</a>
                            </li>
                            <li><a href="@Url.Action("AboutUs","Website")">About us</a></li>
                            <li><a href="@Url.Action("ContactUs","Website")">Contact us</a></li>
                            <li class="cs-user-option" style="float:right">
                                <div class="cs-login">
                                    <div class="cs-login-dropdown">
                                        @if (@Session["Name"] == null)
                                        {
                                            <a></a>
                                            <a class="cs-bgcolor btn-form" href="@Url.Action("SignIn","Account")"><i class="icon-login"></i> Sign In </a>
                                        }
                                        else if (Session["Role"].ToString() == "User")
                                        {
                                            <a href="javascript:void(0)"><i class="icon-user2"></i> @Session["Name"] <i class="icon-chevron-down2"></i></a>
                                            <div class="cs-user-dropdown">
                                                <ul>
                                                    <li><a href="@Url.Action("ProfileSettings","Website")">Profile Setting</a></li>
                                                    <li><a href="@Url.Action("Myvehicles","Website")">My Posted Cars</a></li>
                                                    <li><a href="@Url.Action("PostNewVehicles","Website")">Post New Car</a></li>
                                                    <li><a href="@Url.Action("Shortlisted","Website")">Shortlisted</a></li>
                                                </ul>
                                                <a class="btn-sign-out" href="@Url.Action("Logout", "Account")">Logout</a>
                                            </div>
                                        }
                                        else if (Session["Role"].ToString() == "Showroom" || Session["Role"].ToString() == "Union" || Session["Role"].ToString() == "Admin")
                                        {
                                            <a href="javascript:void(0)"><i class="icon-user2"></i> @Session["Name"] <i class="icon-chevron-down2"></i></a>
                                            <div class="cs-user-dropdown">
                                                <ul>
                                                    <li><a href="@Url.Action("Index","Account")">Goto Portal</a></li>
                                                </ul>
                                                <a class="btn-sign-out" href="@Url.Action("Logout", "Account")">Logout</a>
                                            </div>
                                        }
                                    </div>
                                    <a class="cs-bgcolor btn-form" href="@Url.Action("PostNewVehicles","Website")"><i class="icon-plus"></i> Sell Car</a>
                                    <!-- Modal Start-->
                                    <!-- Modal End-->
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div class="cs-user-option hidden-lg visible-sm visible-xs">
                        <div class="cs-login">
                            <div class="cs-login-dropdown">
                                @if (@Session["Name"] == null)
                                {
                                    <a class="cs-bgcolor btn-form mr-2" style="margin-right:10px !important;" href="@Url.Action("SignIn","Account")"><i class="icon-login"></i> Sign In</a>
                                }
                                else if (Session["Role"].ToString() == "User")
                                {
                                    <a href="javascript:void(0)"><i class="icon-user2"></i> @Session["Name"] <i class="icon-chevron-down2"></i></a>
                                    <div class="cs-user-dropdown">
                                        <ul>
                                            <li><a href="@Url.Action("ProfileSettings","Website")">Profile Setting</a></li>
                                            <li><a href="@Url.Action("Myvehicles","Website")">My Posted Cars</a></li>
                                            <li><a href="@Url.Action("PostNewVehicles","Website")">Post New Car</a></li>
                                            <li><a href="@Url.Action("Shortlisted","Website")">Shortlisted</a></li>
                                        </ul>
                                        <a class="btn-sign-out" href="@Url.Action("Logout", "Account")">Logout</a>
                                    </div>
                                }
                                else if (Session["Role"].ToString() == "Showroom" || Session["Role"].ToString() == "Union" || Session["Role"].ToString() == "Admin")
                                {
                                    <a href="javascript:void(0)"><i class="icon-user2"></i> @Session["Name"] <i class="icon-chevron-down2"></i></a>
                                    <div class="cs-user-dropdown">
                                        <ul>
                                            <li><a href="@Url.Action("Index","Account")">Goto Portal</a></li>
                                        </ul>
                                        <a class="btn-sign-out" href="@Url.Action("Logout", "Account")">Logout</a>
                                    </div>
                                }
                            </div>
                            <a class="cs-bgcolor btn-form" href="@Url.Action("PostNewVehicles","Website")"><i class="icon-plus"></i> Sell Car</a>
                            <!-- Modal Start-->
                            <!-- Modal End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
