@model JRCar.BOL.Validation_Classes.ValidateShowroomAds

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Car Ad</title>
    <link href="~/Files/css/bootstrap.css" rel="stylesheet">
    <link href="~/Files/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/Files/css/iconmoon.css" rel="stylesheet">
    <link href="~/Files/css/chosen.css" rel="stylesheet">
    <link href="~/style.css" rel="stylesheet">
    <link href="~/Files/css/bootstrap-slider.css" rel="stylesheet">
    <link href="~/cs-automobile-plugin.css" rel="stylesheet">
    <link href="~/Files/css/color.css" rel="stylesheet">
    <link href="~/Files/css/widget.css" rel="stylesheet">
    <link href="~/Files/css/responsive.css" rel="stylesheet">
    <script src="~/Files/scripts/jquery.js"></script>
    <script src="~/Files/scripts/modernizr.js"></script>
    <script src="~/Files/scripts/bootstrap.min.js"></script>
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <style>
        .single-page .cs-banner ul.cs-banner-slider li .cs-media figure img {
            height: 50vh !important;
        }

        .single-page .auto-overview ul li .auto-text strong {
            font-size: 13px !important;
            line-height: 20px !important;
            font-weight: 800 !important;
        }

        .gm-ui-hover-effect {
            display: none !important;
        }

        .owner-detail-head {
            text-align: center !important;
            font-size: 18px !important;
            font-weight: 600 !important;
            border-bottom: 1px solid #d5d5d5 !important;
            padding-bottom: 10px !important;
            margin-bottom: 10px !important;
        }

        .modal-open .modal {
            overflow-x: auto;
            overflow-y: auto;
        }

        input[type="datetime-local"], input[type="time"] {
            font-size: 14px;
            color: #cacaca;
            border: none;
            padding: 0;
            border-radius: 0;
            height: 16px;
            position: relative;
            top: -5px;
        }

            input[type="datetime-local"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator {
                cursor: pointer;
                border-radius: 4px;
                font-size: 18px;
                margin-right: 2px;
                opacity: 1;
                filter: invert(0.55);
            }
    </style>
    <script>
        function fnAuthorize() {
            var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();
            var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 5000
            });
            if (userAuthorized) {
            }
            else {
                $('#schedule-test-drive').modal('hide');
                Toast.fire({
                    title: '<span style="font-size:10px;line-height:10px;text-transform: capitalize;text-align:center">Please Sign In. Before Scheduling an appointment!</span>',
                    footer: '<a href="/Account/SignIn" style="font-size:14px;" class="btn btn-danger">Sign In</a>'
                })
                return false;
            }
        }

        function fnSuccess(data) {
            $('#schedule-test-drive').modal('hide');
            $('#schedule-test-drive').find('form').trigger('reset');
            var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 5000
            });

            if (data) {
                Toast.fire({
                    icon: 'success',
                    title: '<span style="font-size:10px;line-height:10px;text-transform: capitalize;text-align:center">Appointment request has been sent Succesfully!</span>',
                });
            }
            else {
                Toast.fire({
                    icon: 'error',
                    title: '<span style="font-size:10px;line-height:10px;text-transform: capitalize;text-align:center">Something went wrong. Please try again Later!</span>',
                })
            }

        }
    </script>
</head>
<body class="wp-automobile single-page">
    <div class="wrapper">
        <!-- Header Start -->
        @Html.Partial("_WebHeader")
        <!-- Header End -->
        <!-- Single - Page Slider Start -->
        <div class="cs-banner loader">
            <ul class="cs-banner-slider">
                @foreach (var item in ViewBag.Images)
                {
                    <li>
                        <div class="cs-media">
                            <figure><img src="~/uploads/@item" alt="" /></figure>
                        </div>
                    </li>
                }
            </ul>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
                        <div class="cs-button-style">
                            <a class="btn-video" href="#"><i class="icon-play_arrow"></i> Watch video</a>
                            @*<a class="btn-compare" href="#"><i class="icon-flow-tree"></i> Compare</a>*@
                            <a class="btn-shortlist" href="#"><i class="icon-heart-o"></i> shortlist</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single - Page Slider End -->
        <!-- Main Start -->
        <div class="main-section">
            <div class="page-section" style="box-shadow: 0 2px 3px -2px rgba(0,0,0,0.4);position:relative;">
                <div class="container">
                    <div class="row">
                        <div class="custom-content col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="page-section">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="car-detail-heading">
                                            <div class="auto-text">
                                                <h2>@Html.DisplayFor(model => model.Title)</h2>
                                                <span><i class="icon-building-o"></i> @Html.DisplayFor(model => model.State)</span>
                                                <address id="ELocated"><i class="icon-location"></i>@Html.DisplayFor(model => model.Area), @Html.DisplayFor(model => model.City)</address>
                                            </div>
                                            <div class="auto-price"><span class="cs-color" id="RPrice">Rs @string.Format("{0:n0}", Convert.ToDecimal(Model.Price))</span> <em id="DollarPrice"></em></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="cs-detail-nav">
                                            <ul>
                                                <li><a class="active" href="#vehicle">Vehicle overview</a></li>
                                                <li><a href="#CarInformation">Car Information</a></li>
                                                <li><a href="#specification">Technical Specification</a></li>
                                                <li><a href="#accessories">Accessories</a></li>
                                                <li><a href="#contact">Contact Us</a></li>
                                                <li><a href="#location">Location</a></li>
                                            </ul>
                                            <div class="detail-btn">
                                                <div class="cs-button-style">
                                                    <a class="btn-compare" href="#"><i class="icon-flow-tree"></i> Compare</a>
                                                    <a class="btn-shortlist" href="#"><i class="icon-heart-o"></i> shortlist</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="on-scroll">
                                            <div id="vehicle" class="auto-overview detail-content">
                                                <ul class="row">
                                                    <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                                        <div class="cs-media">
                                                            <figure><i class="icon-driving2 cs-color"></i></figure>
                                                        </div>
                                                        <div class="auto-text">
                                                            <span>Year</span>
                                                            <strong>@Html.DisplayFor(model => model.Year)</strong>
                                                        </div>
                                                    </li>
                                                    <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                                        <div class="cs-media">
                                                            <figure><i class="icon-vehicle92 cs-color"></i></figure>
                                                        </div>
                                                        <div class="auto-text">
                                                            <span>Mileage</span>
                                                            <strong>@Html.DisplayFor(model => model.Mileage)</strong>
                                                        </div>
                                                    </li>
                                                    <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                                        <div class="cs-media">
                                                            <figure><i class="icon-engine cs-color"></i></figure>
                                                        </div>
                                                        <div class="auto-text">
                                                            <span>Trans</span>
                                                            <strong>@Html.DisplayFor(model => model.Transmission)</strong>
                                                        </div>
                                                    </li>
                                                    <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                                        <div class="cs-media">
                                                            <figure><i class="icon-gas20 cs-color"></i></figure>
                                                        </div>
                                                        <div class="auto-text">
                                                            <span>Fuel Type</span>
                                                            <strong>@Html.DisplayFor(model => model.EngineType)</strong>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <p class="more-text" style="text-align:left !important">
                                                    @Html.DisplayFor(model => model.Description)
                                                </p>
                                            </div>
                                            <div id="CarInformation" class="auto-specifications detail-content">
                                                <div class="section-title" style="text-align:left;">
                                                    <h4>Car Information</h4>
                                                </div>
                                                <ul class="row">
                                                    <li class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <div class="element-title">
                                                            <i class="cs-color icon-info-with-circle"></i>
                                                            <span>Make Information</span>
                                                        </div>
                                                    </li>
                                                    <li class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <div class="specifications-info">
                                                            <ul>
                                                                <li>
                                                                    <span>Register Number</span>
                                                                    <strong>@Html.DisplayFor(model => model.RegNo)</strong>
                                                                </li>
                                                                <li>
                                                                    <span>Condition</span>
                                                                    <strong> @Html.DisplayFor(model => model.Condition)</strong>
                                                                </li>
                                                                <li>
                                                                    <span>Maunfacturer</span>
                                                                    <strong> @Html.DisplayFor(model => model.Manufacturer_Name)</strong>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <div class="specifications-info">
                                                            <ul>
                                                                <li>
                                                                    <span>Register Location</span>
                                                                    <strong> @Html.DisplayFor(model => model.RegLocation)</strong>
                                                                </li>
                                                                <li>
                                                                    <span>Exterior Color</span>
                                                                    <strong> @Html.DisplayFor(model => model.Color)</strong>
                                                                </li>
                                                                <li>
                                                                    <span>Model</span>
                                                                    <strong> @Html.DisplayFor(model => model.Manufacturer_CarModelName)</strong>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="specification" class="auto-specifications detail-content">
                                                <div class="section-title" style="text-align:left;">
                                                    <h4>Technical Specifications</h4>
                                                </div>
                                                <ul class="row">
                                                    <li class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <div class="element-title">
                                                            <i class="cs-color icon-engine"></i>
                                                            <span>Engine and Drive Train</span>
                                                        </div>
                                                    </li>
                                                    <li class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <div class="specifications-info">
                                                            <ul>
                                                                <li>
                                                                    <span>Max Speed</span>
                                                                    <strong>@Html.DisplayFor(model => model.MaxSpeed)</strong>
                                                                </li>
                                                                <li>
                                                                    <span>Gear Type</span>
                                                                    <strong> @Html.DisplayFor(model => model.GearType)</strong>
                                                                </li>
                                                                <li>
                                                                    <span>Mileage</span>
                                                                    <strong>@Html.DisplayFor(model => model.Mileage)</strong>
                                                                </li>
                                                                <li>
                                                                    <span>Transmission</span>
                                                                    <strong> @Html.DisplayFor(model => model.Transmission)</strong>
                                                                </li>
                                                                <li>
                                                                    <span>Engine Capacity</span>
                                                                    <strong> @Html.DisplayFor(model => model.EngineCapacity)</strong>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <div class="specifications-info">
                                                            <ul>
                                                                <li>
                                                                    <span>Body Type</span>
                                                                    <strong>@Html.DisplayFor(model => model.BodyType)</strong>
                                                                </li>
                                                                <li>
                                                                    <span>Seater</span>
                                                                    <strong> @Html.DisplayFor(model => model.Seater)</strong>
                                                                </li>
                                                                <li>
                                                                    <span>Assembly</span>
                                                                    <strong>@Html.DisplayFor(model => model.Assembly)</strong>
                                                                </li>
                                                                <li>
                                                                    <span>Engine Type</span>
                                                                    <strong> @Html.DisplayFor(model => model.EngineType)</strong>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="accessories" class="cs-auto-accessories detail-content">
                                                <div class="element-title">
                                                    <i class="cs-color icon-gear42"></i>
                                                    <span>Accessories & Options</span>
                                                </div>
                                                <ul>
                                                    <li class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <div class="cs-listing-icon">
                                                            <ul>
                                                                @{
                                                                    var val1 = Model.AirConditioned == true ? "available" : "not-available";
                                                                    var val2 = Model.ABS == true ? "available" : "not-available";
                                                                    var val3 = Model.AirBag == true ? "available" : "not-available";
                                                                    var val4 = Model.PowerWindows == true ? "available" : "not-available";
                                                                    var val5 = Model.PowerMirrors == true ? "available" : "not-available";
                                                                    var val6 = Model.PowerLocks == true ? "available" : "not-available";
                                                                    var val7 = Model.PowerSteering == true ? "available" : "not-available";
                                                                    var val8 = Model.ImmobilizerKey == true ? "available" : "not-available";
                                                                    var val9 = Model.Radio == true ? "available" : "not-available";
                                                                    var val10 = Model.KeyLessEntry == true ? "available" : "not-available";
                                                                    <li class="@val1">
                                                                        <span>Air Conditioned</span>
                                                                    </li>
                                                                    <li class="@val2">
                                                                        <span>ABS</span>
                                                                    </li>
                                                                    <li class="@val3">
                                                                        <span>Air Bag</span>
                                                                    </li>
                                                                    <li class="@val4">
                                                                        <span>Power Windows</span>
                                                                    </li>
                                                                    <li class="@val5">
                                                                        <span>Power Mirrors</span>
                                                                    </li>
                                                                    <li class="@val6">
                                                                        <span>Power Locks</span>
                                                                    </li>
                                                                    <li class="@val7">
                                                                        <span>Power Steering</span>
                                                                    </li>
                                                                    <li class="@val8">
                                                                        <span>Immobilizer Key</span>
                                                                    </li>
                                                                    <li class="@val9">
                                                                        <span>Radio</span>
                                                                    </li>
                                                                    <li class="@val10">
                                                                        <span>KeyLess Entry</span>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <div class="cs-listing-icon">
                                                            <ul>
                                                                @{
                                                                    var val11 = Model.AlloyRims == true ? "available" : "not-available";
                                                                    var val12 = Model.CoolBox == true ? "available" : "not-available";
                                                                    var val13 = Model.CruiseControl == true ? "available" : "not-available";
                                                                    var val14 = Model.SunRoof == true ? "available" : "not-available";
                                                                    var val15 = Model.NavigationSystem == true ? "available" : "not-available";
                                                                    var val16 = Model.RearAcVents == true ? "available" : "not-available";
                                                                    var val17 = Model.FrontCam == true ? "available" : "not-available";
                                                                    var val18 = Model.CassetPlayer == true ? "available" : "not-available";
                                                                    var val19 = Model.DvdPlayer == true ? "available" : "not-available";
                                                                    <li class="@val11">
                                                                        <span>Alloy Rims</span>
                                                                    </li>
                                                                    <li class="@val12">
                                                                        <span>Cool Box</span>
                                                                    </li>
                                                                    <li class="@val13">
                                                                        <span>Cruise Control</span>
                                                                    </li>
                                                                    <li class="@val14">
                                                                        <span>Sun Roof</span>
                                                                    </li>
                                                                    <li class="@val15">
                                                                        <span>Navigation System</span>
                                                                    </li>
                                                                    <li class="@val16">
                                                                        <span>Rear AcVents</span>
                                                                    </li>
                                                                    <li class="@val17">
                                                                        <span>Front Camera</span>
                                                                    </li>
                                                                    <li class="@val18">
                                                                        <span>Casset Player</span>
                                                                    </li>
                                                                    <li class="@val19">
                                                                        <span>Dvd Player</span>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <div class="cs-listing-icon">
                                                            <ul>
                                                                @{
                                                                    var val20 = Model.SteeringSwitch == true ? "available" : "not-available";
                                                                    var val21 = Model.CdPlayer == true ? "available" : "not-available";
                                                                    var val22 = Model.ClimateControl == true ? "available" : "not-available";
                                                                    var val23 = Model.FrontSpeaker == true ? "available" : "not-available";
                                                                    var val24 = Model.HeatedSeat == true ? "available" : "not-available";
                                                                    var val25 = Model.RearCamera == true ? "available" : "not-available";
                                                                    var val26 = Model.RearSeatEntertain == true ? "available" : "not-available";
                                                                    var val27 = Model.RearSpeaker == true ? "available" : "not-available";
                                                                    var val28 = Model.BoxUsbAux == true ? "available" : "not-available";
                                                                    <li class="@val20">
                                                                        <span>Steering Switch</span>
                                                                    </li>
                                                                    <li class="@val21">
                                                                        <span>Cd Player</span>
                                                                    </li>
                                                                    <li class="@val22">
                                                                        <span>Climate Control</span>
                                                                    </li>
                                                                    <li class="@val23">
                                                                        <span>Front Speaker</span>
                                                                    </li>
                                                                    <li class="@val24">
                                                                        <span>Heated Seat</span>
                                                                    </li>
                                                                    <li class="@val25">
                                                                        <span>Rear Camera</span>
                                                                    </li>
                                                                    <li class="@val26">
                                                                        <span>Rear Seat Entertain</span>
                                                                    </li>
                                                                    <li class="@val27">
                                                                        <span>Rear Speaker</span>
                                                                    </li>
                                                                    <li class="@val28">
                                                                        <span>Box Usb Aux</span>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="contact" class="cs-contact-form detail-content">
                                                <div class="section-title">
                                                    <h4 style="text-align:left;">Contact Us</h4>
                                                </div>
                                                <form>
                                                    <input type="text" placeholder="Full Name">
                                                    <input type="email" placeholder="Email Address">
                                                    <input type="text" placeholder="Phone Number">
                                                    <textarea placeholder="Your Message"></textarea>
                                                    <input type="submit" value="submit" class="cs-bgcolor">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <aside class="page-sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="cs-category-link-icon">
                                <ul>
                                    <li><a data-toggle="modal" href="http://chimpgroup.com/themeforest/automobile/remote.html" data-target="#schedule-test-drive"><i class="cs-color icon-car"></i>Schedule Appointment</a></li>
                                    <li><a href="~/Files/extra-images/pdf-sample.pdf" download><i class="cs-color icon-print3"></i>Print this Detail</a></li>
                                </ul>
                                <div class="cs-form-modal">
                                    <div class="modal fade" id="schedule-test-drive" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>Schedule Appointment</h4>
                                                    <div class="cs-login-form">
                                                        @using (Ajax.BeginForm("ScheduleAppointment", "Portal", new AjaxOptions
                                                        {
                                                            HttpMethod = "POST",
                                                            OnBegin = "fnAuthorize",
                                                            OnSuccess = "fnSuccess"
                                                        }, htmlAttributes: new { @class = "row" }))
                                                        {
                                                            @*<div class="col-lg-12 col-lg-12 col-sm-12 col-xs-12">
                                                                    <div class="cs-modal-field">
                                                                        <label for="cs-username-4">
                                                                            <strong>NAME</strong>
                                                                            <i class="icon-user-plus2"></i>
                                                                            <input type="text" id="cs-username-4" placeholder="Type your username" required name="username">
                                                                        </label>
                                                                    </div>
                                                                </div>*@
                                                            <div class="col-lg-12 col-lg-12 col-sm-12 col-xs-12">
                                                                <div class="cs-modal-field">
                                                                    <label for="cs-email-4">
                                                                        <strong>Email</strong>
                                                                        <i class="icon-envelope"></i>
                                                                        <input type="email" id="cs-email-4" placeholder="Type your email" name="useremail">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-lg-12 col-sm-12 col-xs-12">
                                                                <div class="cs-modal-field">
                                                                    <label for="phone-1">
                                                                        <strong>Phone</strong>
                                                                        <i class="icon-iphone26"></i>
                                                                        <input type="tel" pattern="03[0-9]{2}(?!1234567)(?!1111111)(?!7654321)[0-9]{7}" id="phone-1" placeholder="+92 333 123 989 70" required name="userphone">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-lg-12 col-sm-12 col-xs-12">
                                                                <div class="cs-modal-field">
                                                                    <label for="best-time-1">
                                                                        <strong>Best Datetime</strong>
                                                                        @*<i class="icon-calendar"></i>*@
                                                                        <input type="datetime-local" id="best-date-1" placeholder="Select date" required name="selecteddatetime">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-lg-12 col-sm-12 col-xs-12">
                                                                <div class="cs-modal-field">
                                                                    <label>
                                                                        <textarea required placeholder="Purpose to Visit" name="purpose"></textarea>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-lg-12 col-sm-12 col-xs-12">
                                                                <div class="cs-modal-field">
                                                                    <input class="cs-color csborder-color" type="submit" value="Submit Query">
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="auto-detail-filter">
                                <div class="owner-detail-head">Seller Information</div>
                                <div class="element-title" style="text-align:center !important;">
                                    <img src="@Url.Content(Model.ShowroomImage.ToString())" alt="Showroom Image" style="width: 70px !important; height: 70px !important; border-radius: 50% !important; margin-bottom: 10px !important;" />
                                    <h6 style="user-select: none !important; margin: 0 !important;">@Model.ShowroomName</h6>
                                    <h6 style="user-select: none !important; margin: 0 !important; font-size: 11px !important; font-family: 'Roboto' !important;">Member since: @Model.ShowroomCreatedOn.ToString("MMM d, yyyy")</h6>
                                    <h6 style="font-size: 13px !important; font-family: 'Roboto' !important;font-weight:600 !important;" id="PhoneNumber"></h6>
                                    <input type="button" name="Number" id="btnShow" style="border-radius: 2px !important;" value="Show Phone Number" class="btn btn-success" />
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="page-section" style="margin-bottom:50px">
                <div id="location" class="cs-map loader maps">
                </div>
            </div>
            <div class="page-section" style="margin-bottom:30px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div style="text-align:left;" class="cs-section-title">
                                <h3>Related Cars</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="auto-listing auto-grid">
                                <div class="cs-media">
                                    <figure>
                                        <img src="~/Files/extra-images/listing-Grid-img1.jpg" alt="#" />
                                    </figure>
                                </div>
                                <div class="auto-text">
                                    <span class="cs-categories"><a href="#">Timlers Motors</a></span>
                                    <div class="post-title">
                                        <h6><a href="#">Mazda CX-5 SX, V6, ABS, Sunroof </a></h6>
                                        <div class="auto-price"><span class="cs-color">$25,000</span> <em>MSRP $27,000</em></div>
                                    </div>
                                    <div class="btn-list">
                                        <a href="javascript:void(0)" class="btn btn-danger collapsed" data-toggle="collapse" data-target="#list-view"></a><div id="list-view" class="collapse">
                                            <ul>
                                                <li>30/36 est. mpg 18</li>
                                                <li>Black front grille with chrome accent</li>
                                                <li>Cruise control</li>
                                                <li>Remote keyless entry system</li>
                                                <li>Tilt 3-spoke steering wheel with audio controls</li>
                                                <li>15-in. alloy wheels</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="cs-checkbox">
                                        <input type="checkbox" name="list" value="check-listn" id="check-list">
                                        <label for="check-list">Compare</label>
                                    </div>
                                    <a href="#" class="View-btn">View Detail<i class=" icon-arrow-long-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="auto-listing auto-grid">
                                <div class="cs-media">
                                    <figure> <img src="~/Files/extra-images/listing-Grid-img2.jpg" alt="#" /></figure>
                                </div>
                                <div class="auto-text">
                                    <span class="cs-categories"><a href="#">Timlers Motors</a></span>
                                    <div class="post-title">
                                        <h6><a href="#">Mazda CX-5 SX, V6, ABS, Sunroof </a></h6>
                                        <div class="auto-price"><span class="cs-color">$25,000</span> <em>MSRP $27,000</em></div>
                                    </div>
                                    <div class="btn-list">
                                        <a href="javascript:void(0)" class="btn btn-danger collapsed" data-toggle="collapse" data-target="#list-view1"></a><div id="list-view1" class="collapse">
                                            <ul>
                                                <li>30/36 est. mpg 18</li>
                                                <li>Black front grille with chrome accent</li>
                                                <li>Cruise control</li>
                                                <li>Remote keyless entry system</li>
                                                <li>Tilt 3-spoke steering wheel with audio controls</li>
                                                <li>15-in. alloy wheels</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="cs-checkbox">
                                        <input type="checkbox" name="list" value="check-listn" id="check-list1">
                                        <label for="check-list1">Compare</label>
                                    </div>
                                    <a href="#" class="View-btn">View Detail<i class=" icon-arrow-long-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="auto-listing auto-grid">
                                <div class="cs-media">
                                    <figure> <img src="~/Files/extra-images/listing-Grid-img3.jpg" alt="#" /></figure>
                                </div>
                                <div class="auto-text">
                                    <span class="cs-categories"><a href="#">Timlers Motors</a></span>
                                    <div class="post-title">
                                        <h6><a href="#">Mazda CX-5 SX, V6, ABS, Sunroof </a></h6>
                                        <div class="auto-price"><span class="cs-color">$25,000</span> <em>MSRP $27,000</em></div>
                                    </div>
                                    <div class="btn-list">
                                        <a href="javascript:void(0)" class="btn btn-danger collapsed" data-toggle="collapse" data-target="#list-view2"></a><div id="list-view2" class="collapse">
                                            <ul>
                                                <li>30/36 est. mpg 18</li>
                                                <li>Black front grille with chrome accent</li>
                                                <li>Cruise control</li>
                                                <li>Remote keyless entry system</li>
                                                <li>Tilt 3-spoke steering wheel with audio controls</li>
                                                <li>15-in. alloy wheels</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="cs-checkbox">
                                        <input type="checkbox" name="list" value="check-listn" id="check-list2">
                                        <label for="check-list2">Compare</label>
                                    </div>
                                    <a href="#" class="View-btn">View Detail<i class=" icon-arrow-long-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="auto-listing auto-grid">
                                <div class="cs-media">
                                    <figure> <img src="~/Files/extra-images/listing-Grid-img4.jpg" alt="#" /></figure>
                                </div>
                                <div class="auto-text">
                                    <span class="cs-categories"><a href="#">Timlers Motors</a></span>
                                    <div class="post-title">
                                        <h6><a href="#">Mazda CX-5 SX, V6, ABS, Sunroof </a></h6>
                                        <div class="auto-price"><span class="cs-color">$25,000</span> <em>MSRP $27,000</em></div>
                                    </div>
                                    <div class="cs-checkbox">
                                        <input type="checkbox" name="list" value="check-listn" id="check-list3">
                                        <label for="check-list3">Compare</label>
                                    </div>
                                    <a href="#" class="View-btn">View Detail<i class=" icon-arrow-long-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-section" style="background:#19171a;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="cs-ad" style="text-align:center; padding:55px 0 32px;">
                                <div class="cs-media">
                                    <figure>
                                        <img src="~/Files/extra-images/cs-ad-img.jpg" alt="" />
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main End -->
        <!-- Footer Start -->
        @Html.Partial("_WebFooter")
        <!-- Footer End -->
    </div>

    <script src="~/Files/scripts/responsive.menu.js"></script>
    <script src="~/Files/scripts/chosen.select.js"></script>
    <script src="~/Files/scripts/slick.js"></script>
    <script src="~/Files/scripts/bootstrap-slider.js"></script>
    <script src="~/Files/scripts/echo.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Put all Functions in functions.js -->
    <script src="~/Files/scripts/functions.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3x0O6BzuvZIQIoypSGe4uAcocdABrL2I&sensor=false"></script>
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $('.slick-next').click();
            }, 3000);

            const currentTimezoneOffset = 8; // UTC+8:00 timezone, change it

            Date.prototype.yyyymmdd = function () {
                return [
                    this.getFullYear(),
                    (this.getMonth() + 1).toString().padStart(2, '0'), // getMonth() is zero-based
                    this.getDate().toString().padStart(2, '0')
                ].join('-');
            };

            function getTodayDateStr() {
                const d = new Date();
                // console.log(d);
                const d2 = new Date(d.getTime() + (d.getTimezoneOffset() + currentTimezoneOffset * 60) * 60 * 1000);
                // console.log(d2, d2.yyyymmdd());
                return d2.yyyymmdd();
            }

            var amount = document.getElementById("RPrice").textContent.replace(/\D/g, "");
            console.log(amount);
            var settings = {
                "url": "http://api.exchangerate.host/convert?from=PKR&to=USD&amount=" + amount + "&date=" + getTodayDateStr(),
                "method": "GET",
                "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
                console.log(response);
                document.getElementById("DollarPrice").textContent = "$" + response.result.toFixed(2);
            });

            $("#btnShow").click(function (e) {
                var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 5000
                });
                if (userAuthorized) {
                    $("#PhoneNumber").html("Phone Number: 0" + @Model.ShowroomNumber);
                    $("#btnShow").hide();
                }
                else {
                    $('#schedule-test-drive').modal('hide');
                    Toast.fire({
                        title: '<span style="font-size:10px;line-height:10px;text-transform: capitalize;text-align:center">Please Sign In. Before View a Number!</span>',
                        footer: '<a href="/Account/SignIn" style="font-size:14px;" class="btn btn-danger">Sign In</a>'
                    })
                    return false;
                }
            });

            success();

            function success() {
                var lat = @Model.Latitude;
                var long = @Model.Longitude;
                var area = $("#ELocated")[0].innerText;
                var myLatlng = new google.maps.LatLng(lat, long);

                var myOptions = {
                    center: myLatlng,
                    zoom: 15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                var map = new google.maps.Map(document.getElementById("location"), myOptions);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    title: "lat: " + lat + " long: " + long
                });

                marker.setMap(map);
                var infowindow = new google.maps.InfoWindow({ content: "<b>Address Location: </b>" + area +"" });
                infowindow.open(map, marker);
            }
        })
    </script>
</body>

</html>
