@model IEnumerable<JRCar.BOL.Validation_Classes.ValidateShowroomAds>

@{
    ViewBag.Title = "List Of Showroom Ads";
    Layout = "~/Views/Shared/_StarterPortal.cshtml";
}
<style>
    .table-bordered td, .table-bordered th, .table-bordered {
        border: none !important;
    }

    .table td, .table th {
        padding: 0.75rem;
        vertical-align: baseline;
    }

    #StatusA .badge {
        padding: 0.25em 1.8em !important;
        font-size: 14px !important;
    }

    .btnAction {
        border: none !important;
        font-size: 18px !important;
    }

    .btnEdit {
        background: #1ee500;
        color: white;
        box-shadow: 0px 2px 7px 2px #f79c2b42;
        border-radius: 5px;
        padding: 0 10px;
    }

    .btnDel {
        background: #f91e33;
        box-shadow: 0px 2px 7px 2px #f91e335c;
        color: #fff;
        border-radius: 5px;
        padding: 0 10px;
    }

    .LoaderCc {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: #afafaf78;
        height: 100%;
        width: inherit;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
@if (User.Identity.IsAuthenticated)
{
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>List Of Showroom Ads</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">List Of Showroom Ads</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card" style="width:100%;height:98%">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with default features</h3>
                        </div>
                        <div id="Adloader" class="LoaderCc" style="display: none!important;">
                            <img src="~/Content/Spinner-1s-200px.gif" alt="Please Wait......" width="100" height="100" />
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" id="example99">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    @if (TempData["SuccessMsg"] != null)
                                    {
                                        <div class="alert alert-info alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <i class="icon-info-with-circle"></i><span>@Html.Raw(TempData["SuccessMsg"])</span>
                                        </div>
                                    }
                                    @if (TempData["ErrorMsg"] != null)
                                    {
                                        <div class="alert alert-danger alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <i class="icon-blocked"></i><span>@Html.Raw(TempData["ErrorMsg"])</span>
                                        </div>
                                    }
                                </div>
                            </div>
                            <table id="example3" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Ad Image</th>
                                        <th>Title</th>
                                        <th>Model</th>
                                        <th>Year</th>
                                        <th>Price</th>
                                        <th>Showroom Name</th>
                                        <th>Posted On</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @if (item.CarImage != null)
                                                {
                                                    string path = Server.MapPath("" + item.CarImage + "");
                                                    string[] FolderName = item.CarImage.Split('/');
                                                    string[] imageFiles = Directory.GetFiles(path);
                                                    List<string> images = new List<string>();
                                                    foreach (var jha in imageFiles)
                                                    {
                                                        images.Add(FolderName[2] + "/" + Path.GetFileName(jha));
                                                    }
                                                    <img src="~/uploads/@images[0]" alt="Ad Image" style=" height:60px !important; width:80px !important;" />
                                                }
                                            </td>
                                            <td>
                                                @item.Title
                                            </td>
                                            <td>
                                                @item.Manufacturer_Name @item.Manufacturer_CarModelName
                                            </td>
                                            <td>
                                                @item.Year
                                            </td>
                                            <td>
                                                @item.Price
                                            </td>
                                            <td>
                                                @item.ShowroomName
                                            </td>
                                            <td>
                                                @item.tblCarCreatedOn
                                            </td>
                                            <td id="StatusA">
                                                @if (item.tblCarIsactive)
                                                {
                                                    <span class="badge badge-success"> Active </span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger"> In active </span>
                                                }
                                            </td>
                                            <td>
                                                @if (item.tblCarIsactive)
                                                {
                                                    <button class="btnAction btnEdit" onclick="RemoveAd(@item.tblCarID)">
                                                        <i class="fas fa-toggle-on"></i>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button class="btnAction btnDel" onclick="ActivateAd(@item.tblCarID)">
                                                        <i class="fas fa-toggle-off"></i>
                                                    </button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.getElementById('AdssNav').classList.add('active')
        document.getElementById('MngShowroomAdsPage').classList.add('active')

        function RemoveAd(Adid) {
            if (Adid > 0) {
                if (confirm("Are you sure to Deactivate the Ad?")) {
                    $("#Adloader").show();
                    $(".card").css("cursor","not-allowed");
                    $(".card").css("user-select","none");
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("ShowroomAdsInActive", "Portal")",
                        data: JSON.stringify({ AdID: Adid }),
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            $(".card").css("cursor", "default");
                            $(".card").css("user-select", "auto");
                            $("#Adloader").hide();
                            window.location.href = "@Url.Action("ListofShowroomAds","Portal")";
                        }
                    });
                }
            }
            else {
                alert('Something went wrong please try again later!');
            }
        }

        function ActivateAd(Adid) {
           if (Adid > 0) {
               if (confirm("Are you sure to Activate the Ad?")) {
                   $("#Adloader").show();
                   $(".card").css("cursor","not-allowed");
                   $(".card").css("user-select","none");
                   $.ajax({
                       type: "POST",
                       url: "@Url.Action("ShowroomAdsActive", "Portal")",
                       data: JSON.stringify({ AdID: Adid }),
                       contentType: "application/json; charset=utf-8",
                       success: function (response) {
                           $(".card").css("cursor", "default");
                           $(".card").css("user-select", "auto");
                           $("#Adloader").hide();
                           window.location.href = "@Url.Action("ListofShowroomAds","Portal")";
                       }
                   });
               }
           }
           else {
               alert('Something went wrong please try again later!');
           }
        }

    </script>
}