@model JRCar.BOL.Validation_Classes.ValidateShowroomAds

@{
    ViewBag.Title = "PostNewAd";
    Layout = "~/Views/Shared/_StarterPortal.cshtml";
}
<style>
    .card-header {
        border-bottom: 1px solid rgba(239,239,239,0.9) !important;
        padding: 0.4rem 1.25rem !important;
    }

    .select2-container {
        width: inherit !important;
    }
</style>
@if (User.Identity.IsAuthenticated)
{
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sell your Car</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Sell your Car</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-lg-10">
                    @if (TempData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="icon-info-with-circle"></i><span>@Html.Raw(TempData["SuccessMsg"])</span>
                        </div>
                    }
                    @if (TempData["ErrorMsg"] != null)
                    {
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="icon-blocked"></i><span>@Html.Raw(TempData["ErrorMsg"])</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-lg-10">
                    <div class="card card-primary">
                        <div class="card-header">
                            
                        </div>
                        @using (Html.BeginForm("UpdateProfile", "Portal", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="card-body">
                                <h6 class="bg-gradient-blue p-1 text-center"><b>Note: </b>Insert the correct Information</h6>
                                <h4 class="text-left"><b>Car Information</b></h4>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-12">
                                        <div class="form-group" id="CategoryD">
                                            <label for="exampleInputBorder">Category </label>
                                            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                                            @Html.DropDownListFor(model => model.CategoryName, (IEnumerable<SelectListItem>)ViewBag.Category, htmlAttributes: new { @class = "form-control select2bs4" })
                                        </div>
                                        <div class="form-group" id="SubCategoryD">
                                            <label for="exampleInputBorder">Sub Category </label>
                                            @Html.ValidationMessageFor(model => model.SubCategoryName, "", new { @class = "text-danger" })
                                            @Html.DropDownListFor(model => model.SubCategoryName, new SelectList(""), htmlAttributes: new { @class = "form-control select2bs4" })
                                        </div>
                                        <div class="form-group" id="ModelYearD">
                                            <label for="exampleInputBorder">Model Year </label>
                                            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                                            @Html.DropDownListFor(model => model.Year, (IEnumerable<SelectListItem>)ViewBag.Years, htmlAttributes: new { @class = "form-control select2bs4" })
                                        </div>
                                        <div class="form-group" id="ManufacD">
                                            <label for="exampleInputBorder">Make </label>
                                            @Html.ValidationMessageFor(model => model.Manufacturer_Name, "", new { @class = "text-danger" })
                                            @Html.DropDownListFor(model => model.Manufacturer_Name, (IEnumerable<SelectListItem>)ViewBag.Make, htmlAttributes: new { @class = "form-control select2bs4" })
                                        </div>
                                        <div class="form-group" id="ModelD">
                                            <label for="exampleInputBorder">Model </label>
                                            @Html.ValidationMessageFor(model => model.Manufacturer_CarModelName, "", new { @class = "text-danger" })
                                            @Html.DropDownListFor(model => model.Manufacturer_CarModelName, new SelectList(""), htmlAttributes: new { @class = "form-control select2bs4" })
                                        </div>
                                        @*<div class="form-group">
                                            <label for="exampleInputBorderWidth2">Email</label>
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Enter your Email", @class = "form-control form-control-border border-width-2" } })
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}
