@model IEnumerable<JRCar.BOL.tblShowroom>

@{
    ViewBag.Title = "List Of Showrooms Payment";
    Layout = "~/Views/Shared/_StarterPortal.cshtml";
}
<style>
    .table-bordered td, .table-bordered th, .table-bordered {
        border: none !important;
    }

    .table td, .table th {
        padding: 0.75rem;
        vertical-align: baseline;
    }

    #StatusA .badge {
        padding: 0.25em 0.8em !important;
        font-size: 14px !important;
    }

    .btnAction {
        border: none !important;
        font-size: 18px !important;
    }

    .btnEdit {
        background: #f79c2b;
        color: white;
        box-shadow: 0px 2px 7px 2px #f79c2b42;
        border-radius: 5px;
        margin-right: 5px !important;
    }

    .btnView {
        background: #2bacf7;
        color: white;
        box-shadow: 0px 2px 7px 2px #92d4fb;
        border-radius: 5px;
        margin-right: 5px !important;
    }
</style>

@if (User.Identity.IsAuthenticated)
{
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>List Of Showrooms</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">List Of Showrooms Payment</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card" style="width:100%;height:98%">
                        <div class="card-header">
                            <h3 class="card-title">List Of Showrooms Payment</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" id="example99">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    @if (TempData["SuccessMsg"] != null)
                                    {
                                        <div class="alert alert-info alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <i class="icon-info-with-circle"></i><span>@Html.Raw(TempData["SuccessMsg"])</span>
                                        </div>
                                    }
                                    @if (TempData["ErrorMsg"] != null)
                                    {
                                        <div class="alert alert-danger alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <i class="icon-blocked"></i><span>@Html.Raw(TempData["ErrorMsg"])</span>
                                        </div>
                                    }
                                </div>
                            </div>
                            <table id="example3" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Showroom Name</th>
                                        <th>Address</th>
                                        <th>Contact</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.FullName
                                            </td>
                                            <td>
                                                @item.ShopNumber @item.tblAddress.CompleteAddress
                                            </td>
                                            <td>
                                                @item.Contact
                                            </td>
                                            <td id="StatusA">
                                                @if (item.Isactive)
                                                {
                                                    <span class="badge badge-success"> Active </span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger"> In active </span>
                                                }
                                            </td>
                                            <td>
                                                <a href="@Url.Action("ShowroomInfo",new { ShowroomID = item.ID })">
                                                    <button class="btnAction btnView">
                                                        <i class="far fa-eye"></i>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.getElementById('PaysNav').classList.add('active')
        document.getElementById('LstPaymentPage').classList.add('active')
    </script>
}
